@include moduk-exports("moduk/component/header") {

  $moduk-header-background: moduk-colour("black");
  $moduk-header-border-color: $moduk-brand-colour;
  $moduk-header-border-width: moduk-spacing(2);
  $moduk-header-text: moduk-colour("white");
  $moduk-header-link-active: #1d8feb;
  $moduk-header-nav-item-border-color: #2e3133;
  $moduk-header-link-underline-thickness: 3px;

  .moduk-header {
    @include moduk-font($size: 16);

    border-bottom: moduk-spacing(2) solid moduk-colour("white");
    color: $moduk-header-text;
    background: $moduk-header-background;
  }

  .moduk-header__container--full-width {
    padding: 0 moduk-spacing(3);
    border-color: $moduk-header-border-color;

    .moduk-header__menu-button {
      right: moduk-spacing(3);
    }
  }

  .moduk-header__container {
    @include moduk-clearfix;
    position: relative;
    margin-bottom: -$moduk-header-border-width;
    padding-top: moduk-spacing(2);
    border-bottom: $moduk-header-border-width solid $moduk-header-border-color;
  }

  .moduk-header__logotype {
    display: inline-block;

    // Add a gap after the logo in case it's followed by a product name. This
    // gets removed later if the logotype is a :last-child.
    margin-right: moduk-spacing(1);

    // Prevent readability backplate from obscuring underline in Windows High
    // Contrast Mode
    @media (forced-colors: active) {
      forced-color-adjust: none;
      color: linktext;
    }

    // Remove the gap after the logo if there's no product name to keep hover
    // and focus states neat
    &:last-child {
      margin-right: 0;
    }
  }

  .moduk-header__logotype-crown {
    position: relative;
    top: -1px;
    margin-right: 1px;
    fill: currentcolor;
    vertical-align: top;
  }

  .moduk-header__logotype-crown-fallback-image {
    width: 36px;
    height: 32px;
    border: 0;
    vertical-align: bottom;
  }

  .moduk-header__product-name {
    @include moduk-font($size: 24, $line-height: 1);
    display: inline-table;
  }

  .moduk-header__link {
    // Avoid using the `moduk-link-common` mixin because the links in the header
    // get a special treatment, because:
    //
    // - underlines are only visible on hover
    // - all links get a 3px underline regardless of text size, as there are
    //   multiple grouped elements close to one another and having slightly
    //   different underline widths looks unbalanced
    @include moduk-typography-common;
    @include moduk-link-style-inverse;

    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: $moduk-header-link-underline-thickness;

      @if $moduk-link-underline-offset {
        text-underline-offset: $moduk-link-underline-offset;
      }
    }

    &:focus {
      @include moduk-focused-text;
    }
  }

  .moduk-header__link--homepage {
    // Font size needs to be set on the link so that the box sizing is correct
    // in Firefox
    @include moduk-font($size: false, $weight: bold);

    display: inline-block;
    margin-right: moduk-spacing(2);
    font-size: 30px; // We don't have a mixin that produces 30px font size
    line-height: 1;

    @include moduk-media-query($from: tablet) {
      display: inline;

      &:focus {
        // Replicate the focus box shadow but without the -2px y-offset of the first yellow shadow
        // This is to stop the logo getting cut off by the box shadow when focused on above a product name
        box-shadow: 0 0 $moduk-focus-colour;
      }
    }

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:active {
      // Negate the added border
      margin-bottom: $moduk-header-link-underline-thickness * -1;
      // Omitting colour will use default value of currentColor – if we
      // specified currentColor explicitly IE8 would ignore this rule.
      border-bottom: $moduk-header-link-underline-thickness solid;
    }

    // Remove any borders that show when focused and hovered.
    &:focus {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  // The moduk-header__link--service-name class is deprecated - use
  // moduk-header__service-name instead.
  .moduk-header__service-name,
  .moduk-header__link--service-name {
    display: inline-block;
    margin-bottom: moduk-spacing(2);
    @include moduk-font($size: 24, $weight: bold);
  }

  .moduk-header__logo,
  .moduk-header__content {
    box-sizing: border-box;
  }

  .moduk-header__logo {
    @include moduk-responsive-margin(2, "bottom");
    padding-right: moduk-spacing(8);

    @include moduk-media-query ($from: desktop) {
      width: 33.33%;
      padding-right: $moduk-gutter-half;
      float: left;
      vertical-align: top;
    }
  }

  .moduk-header__content {
    @include moduk-media-query ($from: desktop) {
      width: 66.66%;
      padding-left: $moduk-gutter-half;
      float: left;
    }
  }

  .moduk-header__menu-button {
    @include moduk-font($size: 16);
    display: none;
    position: absolute;
    top: moduk-spacing(4);
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
    color: moduk-colour("white");
    background: none;
    cursor: pointer;

    &:hover {
      text-decoration: solid underline $moduk-header-link-underline-thickness;

      @if $moduk-link-underline-offset {
        text-underline-offset: $moduk-link-underline-offset;
      }
    }

    &:focus {
      @include moduk-focused-text;
    }

    &:after {
      @include moduk-shape-arrow($direction: down, $base: 10px, $display: inline-block);
      content: "";
      margin-left: moduk-spacing(1);
    }

    &[aria-expanded="true"]:after {
      @include moduk-shape-arrow($direction: up, $base: 10px, $display: inline-block);
    }

    @include moduk-media-query ($from: tablet) {
      top: moduk-spacing(3);
    }

    .js-enabled & {
      display: block;
    }

    &[hidden],
    .js-enabled &[hidden] {
      display: none;
    }
  }

  .moduk-header__navigation {
    @include moduk-media-query ($from: desktop) {
      margin-bottom: moduk-spacing(2);
    }
  }

  .moduk-header__navigation-list {
    // Reset user-agent default list styles
    margin: 0;
    padding: 0;
    list-style: none;

    &[hidden] {
      display: none;
    }
  }

  .moduk-header__navigation--end {
    @include moduk-media-query ($from: desktop) {
      margin: 0;
      padding: moduk-spacing(1) 0;
      text-align: right;
    }
  }

  // The moduk-header__navigation--no-service-name class is deprecated and will
  // be removed in the next major release.
  .moduk-header__navigation--no-service-name {
    padding-top: moduk-spacing(7);
  }

  .moduk-header__navigation-item {
    padding: moduk-spacing(2) 0;
    border-bottom: 1px solid $moduk-header-nav-item-border-color;

    @include moduk-media-query ($from: desktop) {
      display: inline-block;
      margin-right: moduk-spacing(3);
      padding: moduk-spacing(1) 0;
      border: 0;
    }

    a {
      @include moduk-font($size: 16, $weight: bold);
      white-space: nowrap;
    }
  }

  .moduk-header__navigation-item--active {
    a {
      &:link,
      &:hover,
      &:visited {
        color: $moduk-header-link-active;
      }

      // When focussed, the text colour needs to be darker to ensure that colour
      // contrast is still acceptable
      &:focus {
        color: $moduk-focus-text-colour;
      }
    }
  }

  .moduk-header__navigation-item:last-child {
    margin-right: 0;
    border-bottom: 0;
  }

  @include moduk-media-query($media-type: print) {
    .moduk-header {
      border-bottom-width: 0;
      color: moduk-colour("black");
      background: transparent;
    }

    // Hide the inverted crown when printing in browsers that don't support SVG.
    .moduk-header__logotype-crown-fallback-image {
      display: none;
    }

    .moduk-header__link {
      &:link,
      &:visited {
        color: moduk-colour("black");
      }

      // Do not append link href to GOV.UK link when printing (e.g. '(/)')
      &:after {
        display: none;
      }
    }
  }

  @if $moduk-use-legacy-font {
    // Begin adjustments for font baseline offset
    // These should be removed when the font is updated with the correct baseline
    .moduk-header__logotype-crown,
    .moduk-header__logotype-crown-fallback-image {
      position: relative;
      top: -4px;
      vertical-align: middle;
    }

    .moduk-header {
      $offset: 3px;
      padding-top: $offset;
    }

    .moduk-header__link--homepage {
      line-height: 30px;
    }
    // End adjustments
  }
}
