// stylelint-disable declaration-no-important
@include moduk-exports("moduk/overrides/display") {
  .moduk-\!-display-inline {
    display: inline !important;
  }

  .moduk-\!-display-inline-block {
    display: inline-block !important;
  }

  .moduk-\!-display-block {
    display: block !important;
  }

  .moduk-\!-display-none {
    display: none !important;
  }

  @include moduk-media-query($media-type: print) {
    .moduk-\!-display-none-print {
      display: none !important;
    }
  }
}
