// stylelint-disable declaration-no-important
@include moduk-exports("moduk/overrides/text-align") {
  .moduk-\!-text-align-left {
    text-align: left !important;
  }

  .moduk-\!-text-align-centre {
    text-align: center !important;
  }

  .moduk-\!-text-align-right {
    text-align: right !important;
  }
}
