/* ==========================================================================
   COMPONENTS/ #ERROR-MESSAGE
   ========================================================================== */

.moduk-error-message {
  @include moduk-font(19, $weight: bold);

  clear: both;
  color: $moduk-error-color;
  display: block;
  margin-bottom: moduk-spacing(3);
}
