{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Inset text' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">
          {{ insetText({
            "HTML": "<p>You can report any suspected side effect to the <a href=\"https://yellowcard.mhra.gov.uk/\" title=\"External website\">UK safety scheme</a>.</p>"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
