{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Fieldset' %}
{% from 'components/fieldset/macro.njk' import fieldset %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">
          {{ fieldset({
            "legend": {
              "text": "What is your address?"
            }
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
