{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Pagination' %}
{% from 'components/pagination/macro.njk' import pagination %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">
          {{ pagination({
            "previousUrl": "/section/treatments",
            "previousPage": "Treatments",
            "nextUrl": "/section/symptoms",
            "nextPage": "Symptoms"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
