{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Checkboxes with hint text' %}
{% from 'components/checkboxes/macro.njk' import checkboxes %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">
          {{ checkboxes({
            "fieldset": {
              "legend": {
                "text": "How do you want to sign in?",
                "classes": "moduk-fieldset__legend--m",
                "isPageHeading": true
              }
            },
            "items": [
              {
                "name": "gateway",
                "id": "government-gateway",
                "value": "gov-gateway",
                "text": "Sign in with Government Gateway",
                "hint": {
                  "text": "You’ll have a user ID if you’ve registered for Self Assessment or filed a tax return online before."
                }
              },
              {
                "name": "verify",
                "id": "moduk-login",
                "value": "moduk-verify",
                "text": "Sign in with NHS.UK login",
                "hint": {
                  "text": "You’ll have an account if you’ve already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity."
                }
              }
            ]
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
