{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Checkboxes' %}
{% from 'components/checkboxes/macro.njk' import checkboxes %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">
          {{ checkboxes({
            "idPrefix": "nationality",
            "name": "nationality",
            "fieldset": {
              "legend": {
                "text": "What is your nationality?",
                "classes": "moduk-fieldset__legend--m"
              }
            },
            "hint": {
              "text": "If you have more than 1 nationality, select all options that are relevant to you."
            },
            "items": [
              {
                "value": "british",
                "text": "British"
              },
              {
                "value": "irish",
                "text": "Irish"
              },
              {
                "value": "other",
                "text": "citizen of another country"
              }
            ]
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
