/* ==========================================================================
   COMPONENTS/ #TEXTAREA
   ========================================================================== */

.moduk-textarea {
  @include moduk-font(19);

  -webkit-appearance: none;
  border: $moduk-border-width-form-element solid $moduk-form-border-color;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  min-height: 40px;
  padding: moduk-spacing(1);
  resize: vertical;
  width: 100%;

  &:focus {
    @include moduk-focused-input;
  }
}

.moduk-textarea--error {
  border: $moduk-border-width-form-element-error solid $moduk-error-color;
}
