.moduk-form-group {
  @include moduk-responsive-margin(4, 'bottom');

  .moduk-form-group:last-of-type {
    margin-bottom: 0; // Remove margin from last item in nested groups
  }
}

.moduk-form-group--wrapper {
  @include moduk-responsive-margin(5, 'bottom');
}

.moduk-form-group--error {
  border-left: $moduk-border-width-form-group-error solid $moduk-error-color;
  padding-left: moduk-spacing(3);

  .moduk-form-group {
    // Reset error styles in nested form groups that might have error class
    border: 0;
    padding: 0;
  }
}
