


<!DOCTYPE html>
<html lang="en" style="background-color: #f0f4f5;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Error summary - MOD.UK frontend</title>

    <link href="/moduk-frontend/assets/moduk.css" rel="stylesheet">

    <script src="/moduk-frontend/assets/moduk.js" defer></script>

    <link rel="shortcut icon" href="/moduk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/moduk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/moduk-frontend/assets/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/moduk-frontend/assets/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/moduk-frontend/assets/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="/moduk-frontend/assets/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/moduk-frontend/assets/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/moduk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/moduk-frontend/assets/favicons/largetile-310x310.png">

    
    <meta property="og:title" content="MOD.UK frontend library">
    <meta property="og:description" content="Code you need to start building accessible user interfaces for MOD websites and services.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/moduk-frontend/assets/logos/open-graph.png">
    <meta property="og:image:alt" content="MOD">

    
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      

      

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">
          <div class="moduk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
  <h2 class="moduk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="moduk-error-summary__body">
    <p>
      Optional description of the errors and how to correct them.<br>Note that the error summary should receive focus on page load using the JavaScript that comes with this component.
    </p>
    <ul class="moduk-list moduk-error-summary__list">
      <li>
        <a href="#example-1">Link to radio error with explanation (Note how it links to the first radio)</a>
      </li>
    </ul>
  </div>
</div>


          <br><br><br><br><br><br>↕ Intentionally long page to demonstrate error summary link scrolling behaviour ↕<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          





  

  
<div class="moduk-form-group moduk-form-group--error">

  <fieldset class="moduk-fieldset" aria-describedby="example-hint example-error">
  <legend class="moduk-fieldset__legend moduk-fieldset__legend--m">
    Have you changed your name?
  </legend>

  <div class="moduk-hint" id="example-hint">
    Clicking an error summary link should scroll the top of this radio fieldset into view.
  </div>

  <span class="moduk-error-message" id="example-error">
    <span class="moduk-u-visually-hidden">Error:</span> Please select an option
  </span>

  <div class="moduk-radios">
    
    <div class="moduk-radios__item">
      <input class="moduk-radios__input" id="example-1" name="radios-example" type="radio" value="yes">
      <label class="moduk-label moduk-radios__label" for="example-1">
        Yes
      </label>
    </div>
    
    
    <div class="moduk-radios__item">
      <input class="moduk-radios__input" id="example-2" name="radios-example" type="radio" value="no">
      <label class="moduk-label moduk-radios__label" for="example-2">
        No
      </label>
    </div>
    
  </div>
  </fieldset>

</div>


          <br><br><br><br><br><br>↕ Intentionally long page to demonstrate error summary link scrolling behaviour ↕<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        </div>
      </div>

    </main>
  </div>



      
  </body>
</html>
