/* ==========================================================================
   COMPONENTS/ #CHECKBOXES
   ========================================================================== */

/**
 * 1. remove 300ms pause on mobile.
 * 2. Fix bug in IE11 caused by transform rotate (-45deg).
 */

$moduk-checkboxes-size: moduk-spacing(6);
$moduk-checkboxes-label-padding-left-right: 12px;

.moduk-checkboxes__item {
  @include moduk-font(19);

  clear: left;
  display: block;
  margin-bottom: moduk-spacing(2);
  min-height: $moduk-checkboxes-size;
  padding: 0 0 0 $moduk-checkboxes-size;
  position: relative;
}

.moduk-checkboxes__item:last-child,
.moduk-checkboxes__item:last-of-type {
  margin-bottom: 0;
}

.moduk-checkboxes__input {
  cursor: pointer;
  height: $moduk-checkboxes-size;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: $moduk-checkboxes-size;
  z-index: 1;
}

.moduk-checkboxes__label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px $moduk-checkboxes-label-padding-left-right moduk-spacing(1);
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation;
}

.moduk-checkboxes__hint {
  display: block;
  padding-left: $moduk-checkboxes-label-padding-left-right;
  padding-right: $moduk-checkboxes-label-padding-left-right;
}

.moduk-checkboxes__input + .moduk-checkboxes__label::before {
  background: $moduk-form-element-background-color;
  border: $moduk-border-width-form-element solid $moduk-form-border-color;
  box-sizing: border-box;
  content: '';
  height: $moduk-checkboxes-size;
  left: 0;
  position: absolute;
  top: 0;
  width: $moduk-checkboxes-size;
}

.moduk-checkboxes__input + .moduk-checkboxes__label::after {
  background: transparent;
  border: solid;
  border-top-color: transparent;
  border-width: 0 0 $moduk-border-width $moduk-border-width;
  content: '';
  height: 10px;
  left: 10px;
  opacity: 0; /* 2 */
  position: absolute;
  top: 13px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 22px;
}

/*
 * Focus state
 *
 * 1. Since box-shadows are removed when users customise their colours
 *    We set a transparent outline that is shown instead.
 *    https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
 */

.moduk-checkboxes__input:focus + .moduk-checkboxes__label::before {
  @include moduk-focused-checkbox();
}

/* Selected state */

.moduk-checkboxes__input:checked + .moduk-checkboxes__label::after {
  opacity: 1;
}

/* Disabled state */

.moduk-checkboxes__input:disabled,
.moduk-checkboxes__input:disabled + .moduk-checkboxes__label {
  cursor: default;
}

.moduk-checkboxes__input:disabled + .moduk-checkboxes__label {
  opacity: .5;
}

/* Divider variant */

.moduk-checkboxes__divider {
  $moduk-divider-size: $moduk-checkboxes-size !default;
  @include moduk-font(19);

  color: $moduk-text-color;
  margin-bottom: moduk-spacing(2);
  text-align: center;
  width: $moduk-divider-size;
}


/*
 * Conditional
 *
 * 1. Calculate the amount of padding needed to keep the border
 *    centered against the checkbox.
 * 2. Move the border centered with the checkbox.
 * 3. Move the contents of the conditional inline with the label.
 */

$conditional-border-width: $moduk-border-width-mobile;
$conditional-border-padding: ($moduk-checkboxes-size / 2) - ($conditional-border-width / 2); /* 1 */
$conditional-margin-left: $conditional-border-padding; /* 2 */
$conditional-padding-left: $conditional-border-padding + $moduk-checkboxes-label-padding-left-right; /* 3 */

.moduk-checkboxes__conditional {
  @include moduk-responsive-margin(4, 'bottom');
  border-left: $conditional-border-width solid $moduk-form-border-color;
  margin-left: $conditional-margin-left;
  padding-left: $conditional-padding-left;

  & > :last-child {
    margin-bottom: 0;
  }
}

.js-enabled .moduk-checkboxes__conditional--hidden {
  display: none;
}
