@import "../error-message/index";
@import "../hint/index";
@import "../label/index";

@include moduk-exports("moduk/component/input") {
  .moduk-input {
    @include moduk-font($size: 19);

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    @if $moduk-typography-use-rem {
      height: moduk-px-to-rem(40px);
    }
    margin-top: 0;

    padding: moduk-spacing(1);
    // setting any background-color makes text invisible when changing colours to dark backgrounds in Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1335476)
    // as background-color and color need to always be set together, color should not be set either
    border: $moduk-border-width-form-element solid $moduk-input-border-colour;
    border-radius: 0;

    // Disable inner shadow and remove rounded corners
    appearance: none;

    &:focus {
      outline: $moduk-focus-width solid $moduk-focus-colour;
      // Ensure outline appears outside of the element
      outline-offset: 0;
      // Double the border by adding its width again. Use `box-shadow` for this // instead of changing `border-width` - this is for consistency with
      // components such as textarea where we avoid changing `border-width` as
      // it will change the element size. Also, `outline` cannot be utilised
      // here as it is already used for the yellow focus state.
      box-shadow: inset 0 0 0 $moduk-border-width-form-element;

      @include moduk-if-ie8 {
        // IE8 doesn't support `box-shadow` so double the border with
        // `border-width`.
        border-width: $moduk-border-width-form-element * 2;
      }
    }
  }

  .moduk-input::-webkit-outer-spin-button,
  .moduk-input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  .moduk-input[type="number"] {
    -moz-appearance: textfield;
  }

  .moduk-input--error {
    border-color: $moduk-error-colour;

    &:focus {
      border-color: $moduk-input-border-colour;
    }
  }

  // em measurements are based on the point size of the typeface
  // Extra space is added on the right hand side to allow for the Safari prefill icon

  .moduk-input--width-30 {
    max-width: 29.5em;
  }

  .moduk-input--width-20 {
    max-width: 20.5em;
  }

  .moduk-input--width-10 {
    max-width: 11.5em;
  }

  .moduk-input--width-5 {
    max-width: 5.5em;
  }

  .moduk-input--width-4 {
    max-width: 4.5em;
  }

  .moduk-input--width-3 {
    max-width: 3.75em;
  }

  .moduk-input--width-2 {
    max-width: 2.75em;
  }

  .moduk-input__wrapper {
    display: flex;

    .moduk-input {
      flex: 0 1 auto;
    }

    .moduk-input:focus {
      // Hack to stop focus style being overlapped by the suffix
      z-index: 1;
    }

    // Split prefix/suffix onto separate lines on narrow screens
    @include moduk-media-query($until: mobile) {
      display: block;

      .moduk-input {
        // Set max-width to override potential width override class on the input
        max-width: 100%;
      }
    }
  }

  .moduk-input__prefix,
  .moduk-input__suffix {
    @include moduk-font($size: 19);

    box-sizing: border-box;
    display: inline-block;
    min-width: 40px;
    @if $moduk-typography-use-rem {
      min-width: moduk-px-to-rem(40px);
    }
    height: 40px;
    @if $moduk-typography-use-rem {
      height: moduk-px-to-rem(40px);
    }

    padding: moduk-spacing(1);
    border: $moduk-border-width-form-element solid $moduk-input-border-colour;
    background-color: moduk-colour("light-grey", $legacy: "grey-3");

    text-align: center;
    @include moduk-media-query($until: tablet) {
      line-height: 1.6;
    }
    white-space: nowrap;

    // Emphasise non-editable status of prefixes and suffixes
    cursor: default;

    flex: 0 0 auto;

    // Split prefix/suffix onto separate lines on narrow screens
    @include moduk-media-query($until: mobile) {
      display: block;
      height: 100%;
      white-space: normal;
    }
  }

  .moduk-input__prefix {
    @include moduk-media-query($until: mobile) {
      border-bottom: 0;
    }
    @include moduk-media-query($from: mobile) {
      @include moduk-not-ie8 {
        border-right: 0;
      }
    }
  }

  // Split prefix/suffix onto separate lines on narrow screens
  .moduk-input__suffix {
    @include moduk-media-query($until: mobile) {
      border-top: 0;
    }
    @include moduk-media-query($from: mobile) {
      @include moduk-not-ie8 {
        border-left: 0;
      }
    }
  }
}
