{% extends "full-page-example.njk" %}

{% from "warning-text/macro.njk" import govukWarningText %}
{% from "button/macro.njk" import govukButton %}

{% set homepage_url = "/" %}
{% set pageTitle = "Are you sure you want to delete Josh Lyman’s account?" %}
{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block content %}
  <div class="moduk-grid-row">
    <div class="moduk-grid-column-two-thirds">

      <h1 class="moduk-heading-xl">
       {{ pageTitle }}
      </h1>

      <p class="moduk-body">Josh Lyman last logged in <strong>3 days ago</strong>.</p>

      <p class="moduk-body">By deleting their administrator account they will no longer have access to this system. All cases that <strong>Josh Lyman</strong> is assigned to will remain open but their name will be removed from the case history.</p>

      {{ govukWarningText({
        text: "This action is final and cannot be undone.",
        iconFallbackText: "Warning",
        classes: "moduk-!-margin-bottom-8"
      }) }}

      <form method="post" novalidate>
        <div class="moduk-button-group">
          {{ govukButton({
            text: "Delete account",
            classes: "moduk-button--warning"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "moduk-button--secondary"
          }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}
