@import "../base";

////
/// @group objects/layout
////

// Example usage with Breadcrumbs, phase banners, back links:
// <div class="moduk-width-container">
//   <!-- Breadcrumbs, phase banners, back links are placed in here. -->
//   <div class="moduk-main-wrapper">
//       <!-- Wrapper for the main content of your page which applies padding
//            to the top / bottom -->
//   </div>
// </div>
//
// Example usage without Breadcrumbs, phase banners, back links:
// <div class="moduk-width-container">
//   <div class="moduk-main-wrapper moduk-main-wrapper--l">
//       <!-- Wrapper for the main content of your page which applies padding
//            to the top / bottom -->
//   </div>
// </div>

@include moduk-exports("govuk/objects/main-wrapper") {
  .moduk-main-wrapper {
    // In IE11 the `main` element can be used, but is not recognized  –
    // meaning it's not defined in IE's default style sheet,
    // so it uses CSS initial value, which is inline.
    display: block;
    padding-top: moduk-spacing(4);
    padding-bottom: moduk-spacing(4);

    @include moduk-media-query($from: tablet) {
      // This spacing is manually adjusted to replicate the margin of
      // moduk-heading-xl (50px) minus the spacing of back link and
      // breadcrumbs (10px)
      padding-top: moduk-spacing(7);
      padding-bottom: moduk-spacing(7);
    }
  }

  // Using the `.moduk-main-wrapper--auto-spacing` modifier should apply the
  // correct spacing depending on whether there are any elements
  // (such the back link, breadcrumbs or phase banner components) before the
  // `.moduk-main-wrapper` in the `moduk-width-container`.
  //
  // If you need to control the spacing manually, use the
  // `moduk-main-wrapper--l` modifier instead.
  .moduk-main-wrapper--auto-spacing:first-child,
  .moduk-main-wrapper--l {
    @include moduk-responsive-padding(8, "top");
  }
}
