@import "../error-message/index";
@import "../hint/index";
@import "../label/index";
@import "../textarea/index";

@include moduk-exports("moduk/component/character-count") {
  .moduk-character-count {
    @include moduk-responsive-margin(6, "bottom");

    .moduk-form-group,
    .moduk-textarea {
      margin-bottom: moduk-spacing(1);
    }
  }

  .moduk-character-count__message {
    @include moduk-font($size: false, $tabular: true);
    margin-top: 0;
    margin-bottom: 0;
  }

  .moduk-character-count__message--disabled {
    visibility: hidden;
  }
}
