{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Textarea with autocomplete attribute' %}
{% from 'components/textarea/macro.njk' import textarea %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">
          {{ textarea({
            "name": "address",
            "id": "textarea-with-autocomplete-attribute",
            "label": {
              "text": "Full address"
            },
            "autocomplete": "street-address"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
