@import "compatibility";
@import "typography-font-families";

////
/// @group settings/typography
////

/// Use 'legacy' fonts
///
/// Whether or not to use v1 nta font from GOV.UK Elements / Frontend
/// Toolkit, for teams that are migrating to GOV.UK Frontend and may be using
/// components from both places in a single application.
///
/// @type Boolean
/// @access public
/// @deprecated Will be removed in v5.0 with the rest of the compatibility mode
/// suite of tools and settings

$moduk-use-legacy-font: if(
  (
    $moduk-compatibility-govukfrontendtoolkit or
    $moduk-compatibility-govuktemplate or
    $moduk-compatibility-govukelements
  ),
  true,
  false
) !default;

// Only show the deprecation warning if user is setting $moduk-use-legacy-font
// manually instead of automatically via compatibility variables
@if $moduk-use-legacy-font == true and
  $moduk-compatibility-govukfrontendtoolkit == false and
  $moduk-compatibility-govuktemplate == false and
  $moduk-compatibility-govukelements == false {
  @warn "$moduk-use-legacy-font is deprecated. " +
    "From version 5.0, GOV.UK Frontend will only support the included version " +
    "of GDS Transport";
}

// =========================================================
// Font families
// =========================================================

/// Font families to use for all typography on screen media
///
/// @type List
/// @access public

$moduk-font-family: if(
  $moduk-use-legacy-font,
  $moduk-font-family-nta,
  $moduk-font-family-gds-transport
) !default;

/// Font families to use when displaying tabular numbers
///
/// @type List
/// @access public
/// @deprecated Will be removed in v5.0 with the rest of the compatibility mode
/// suite of tools and settings

$moduk-font-family-tabular: if(
  $moduk-use-legacy-font,
  $moduk-font-family-nta-tabular,
  false
) !default;

// Only show the deprecation warning if user is setting $moduk-font-family-tabular
// manually instead of automatically via $moduk-use-legacy-font
@if $moduk-font-family-tabular != false and $moduk-use-legacy-font == false {
  @warn "$moduk-font-family-tabular is deprecated. " +
    "From version 5.0, GOV.UK Frontend will not support using a separate " +
    "font-face for tabular numbers";
}

/// Font families to use for print media
///
/// We recommend that you use system fonts when printing. This will avoid issues
/// with some printer drivers and operating systems.
///
/// @type List
/// @access public

$moduk-font-family-print: sans-serif !default;

/// Include the default @font-face declarations
///
/// If you have set $moduk-font-family to something other than
/// `$moduk-font-family-gds-transport` this option is disabled by default.
///
/// @type Boolean
/// @access public

$moduk-include-default-font-face: (
  $moduk-font-family == $moduk-font-family-gds-transport
) !default;

// =========================================================
// Font weights
// =========================================================

/// Font weight for regular typography
///
/// @type Number
/// @access public
$moduk-font-weight-regular: 400 !default;

/// Font weight for bold typography
///
/// @type Number
/// @access public
$moduk-font-weight-bold: 700 !default;
