{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Button secondary' %}
{% from 'components/button/macro.njk' import button %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">
          {{ button({
            "text": "Find my location",
            "classes": "moduk-button--secondary"
          }) }}
        </div>
      </div>
    </main>
  </div>

{% endblock %}
