{% set title = 'Home' %}
{% from 'components/contents-list/macro.njk' import contentsList %}
{% from 'components/footer/macro.njk' import footer %}
{% from 'components/hero/macro.njk' import hero %}
{% from 'components/card/macro.njk' import card %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}

  {{ hero({
    "heading": "MOD.UK frontend",
    "text": "Code you need to start building accessible user interfaces for Ministry of Defence websites and services."
  }) }}
{% endblock %}

{% block fullWidthContent %}

  <div class="moduk-grid-row moduk-card-group">
    <div class="moduk-grid-column-one-third moduk-card-group__item">
      {{ card({
        "href": "./pages/install.html",
        "clickable": "true",
        "heading": "Install",
        "headingClasses": "moduk-heading-m",
        "description": "Download and installation instructions."
      }) }}
    </div>
    <div class="moduk-grid-column-one-third moduk-card-group__item">
      {{ card({
        "href": "./pages/examples.html",
        "clickable": "true",
        "heading": "Examples",
        "headingClasses": "moduk-heading-m",
        "description": "Page layouts, test pages and components."
      }) }}
    </div>
    <div class="moduk-grid-column-one-third moduk-card-group__item">
      {{ card({
        "href": "./pages/about.html",
        "clickable": "true",
        "heading": "About",
        "headingClasses": "moduk-heading-m",
        "description": "Getting support and contributing."
      }) }}
    </div>
  </div>

  <hr class="moduk-u-margin-top-0 moduk-u-margin-bottom-6">

  <div class="moduk-u-reading-width">

    <p class="moduk-u-margin-bottom-0">Visit the <a href="#0">MOD digital service manual</a> for guidance and examples.</p>

  </div>

{% endblock %}
