.app-banner {
  padding-top: moduk-spacing(6);
  padding-bottom: moduk-spacing(6);
  overflow: hidden;
  @include moduk-font($size: 36, $line-height: 1.5);

  .moduk-body {
    color: inherit;
    font-size: inherit;
  }
}

.app-banner--warning {
  color: moduk-colour("white");
  background: moduk-colour("red");
}
