{% set title = 'About' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    href: "../",
    text: "MOD.UK frontend"
  }) }}
{% endblock %}

{% block content %}

  <h1>About</h1>

  <div class="moduk-u-reading-width">

    <h2>Contributing</h2>
    <p>Please see our <a href="https://github.com/defencedigital/moduk-frontend/blob/master/CONTRIBUTING.md">contributing guidelines</a> on how to set up the project locally and contribute changes to MOD.UK frontend.</p>

    <h2>Get in touch</h2>
    <p>MOD.UK frontend is actively maintained by a team at MOD Digital, you can <a href="mailto:">email us</a> or get in touch on the <a href="#0">MOD digital service manual Slack workspace</a>.

  </div>

{% endblock %}
