


<!DOCTYPE html>
<html lang="en" style="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Components - New typography and spacing - MOD.UK frontend</title>

    

    

    <link href="/moduk-frontend/assets/moduk.css" rel="stylesheet">

    <script src="/moduk-frontend/assets/moduk.js" defer></script>

    <link rel="shortcut icon" href="/moduk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/moduk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/moduk-frontend/assets/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/moduk-frontend/assets/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/moduk-frontend/assets/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="/moduk-frontend/assets/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/moduk-frontend/assets/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/moduk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/moduk-frontend/assets/favicons/largetile-310x310.png">

    
    <meta property="og:title" content="MOD.UK frontend library">
    <meta property="og:description" content="Code you need to start building accessible user interfaces for MOD websites and services.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/moduk-frontend/assets/logos/open-graph.png">
    <meta property="og:image:alt" content="MOD">

    
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      

      

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">

          <p>The single-direction margin declarations have been changed to the bottom. All text elements use margin-bottom (24px desktop, 16px mobile).</p>
          <p>Top padding is added to headings after paragraphs.</p>

          <h2>H2 using no class</h2>
          <h3>H3 using no class</h3>
          <h4>H4 using no class</h4>
          <h5>H5 using no class</h5>
          <h6>H6 using no class</h6>

          <h2 class="moduk-u-margin-top-9">H2 using override moduk-u-margin-top-9</h2>

          <p>This is a paragraph using no class. Nam quis posuere nisl, <a href="#">this is what a link looks like</a> eget vulputate eros. Duis non mollis mi. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>
          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <ul>
            <li>Unordered list item using no class</li>
            <li>Unordered list item using no class</li>
          </ul>
          <ol>
            <li>Ordered list item using no class</li>
            <li>Ordered list item using no class</li>
          </ol>

          <h2>H2 using no class</h2>
          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>
          <h3>H3 using no class</h3>
          <p class="moduk-u-margin-bottom-7">This is a paragraph <strong>using override moduk-u-margin-bottom-7</strong>. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>
          <h2>H2 using no class</h2>
          <h3>H3 using no class</h3>
          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <hr>

          <address>
          Address styling <br>
          7 Test Road <br>
          Village <br>
          LS16 2JE
          </address>

          <hr>

          <h1 class="moduk-heading-l">H1 using moduk-heading-l</h1>
          <h2 class="moduk-heading-xl">H2 using moduk-heading-xl</h2>
          <h3 class="moduk-heading-l">H3 using moduk-heading-l</h3>
          <h4 class="moduk-heading-m">H4 using moduk-heading-m</h4>
          <h5 class="moduk-heading-s">H5 using moduk-heading-s</h5>
          <h6 class="moduk-heading-xs">H6 using moduk-heading-xs</h6>

          <hr>

          <p class="moduk-body-l">P using moduk-body-l</p>
          <p class="moduk-body-m">P using moduk-body</p>
          <p class="moduk-body-s">P using moduk-body-s</p>

          <hr>

          <span class="moduk-caption-xl">Heading caption</span>
          <h1>Page heading</h1>

          <span class="moduk-caption-l">Heading caption</span>
          <h1>Page heading</h1>

          <span class="moduk-caption-m">Heading caption</span>
          <h1>Page heading</h1>

          <h1><span class="moduk-caption-xl">Heading caption</span> Page heading</h1>

          <h1><span class="moduk-caption-l">Heading caption</span> Page heading</h1>

          <h1><span class="moduk-caption-m">Heading caption</span> Page heading</h1>

          <h1>Page heading <span class="moduk-caption-xl moduk-caption--bottom">Heading caption</span></h1>

          <h1>Page heading <span class="moduk-caption-l moduk-caption--bottom">Heading caption</span></h1>

          <h1>Page heading <span class="moduk-caption-m moduk-caption--bottom">Heading caption</span></h1>

          <hr>

          <span class="moduk-heading-l">Span using moduk-heading-l</span>
          <span class="moduk-heading-m">Span using moduk-heading-m</span>
          <span class="moduk-heading-s">Span using moduk-heading-s</span>
          <span class="moduk-heading-xs">Span using moduk-heading-xs</span>
          <span class="moduk-heading-xxs">Span using moduk-heading-xxs</span>

          <span class="moduk-body-l">Span using moduk-body-l</span>
          <span class="moduk-body-m">Span using moduk-body</span>
          <span class="moduk-body-s">Span using moduk-body-s</span>

          <h2>Typography with components</h2>

          <p class="moduk-u-font-weight-bold">This is a paragraph using moduk-u-font-weight-bold. Nam quis posuere nisl, eget vulputate eros. Duis non mollis mi. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <h3>List (Unordered list)</h3>

          <ul class="moduk-list">
            <li><a href="#">Unordered list item using moduk-list</a></li>
            <li><a href="#">Unordered list item using moduk-list</a></li>
          </ul>

          <h3>List (Ordered list)</h3>

          <ol class="moduk-list">
            <li><a href="#">Ordered list item using moduk-list</a></li>
            <li><a href="#">Ordered list item using moduk-list</a></li>
          </ol>

          <h3>Bulleted list</h3>

          <ul class="moduk-list moduk-list--bullet">
            <li>Unordered list item using no class</li>
            <li>Unordered list item using no class</li>
          </ul>

          <h3>Numbered list</h3>

          <ol class="moduk-list moduk-list--number">
            <li>Ordered list item using no class</li>
            <li>Ordered list item using no class</li>
          </ol>

          <hr>

          <h2>Typography with images</h2>

          <figure class="moduk-image">
  <img class="moduk-image__img" src="https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg" alt="Picture of allergic conjunctivitis">
  <figcaption class="moduk-image__caption">
    Itchy, red, watering eyes
  </figcaption>
</figure>


          <figure class="moduk-image">
  <img class="moduk-image__img" src="https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg" alt="Picture of allergic conjunctivitis">
  <figcaption class="moduk-image__caption">
    Itchy, red, watering eyes
  </figcaption>
</figure>


          <figure class="moduk-image">
  <img class="moduk-image__img" src="https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg" alt="Picture of allergic conjunctivitis">
  <figcaption class="moduk-image__caption">
    Itchy, red, watering eyes
  </figcaption>
</figure>


          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <figure class="moduk-image">
  <img class="moduk-image__img" src="https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg" alt="Picture of allergic conjunctivitis">
  <figcaption class="moduk-image__caption">
    Itchy, red, watering eyes
  </figcaption>
</figure>


          <h3>H3 heading</h3>

          <figure class="moduk-image">
  <img class="moduk-image__img" src="https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg" alt="Picture of allergic conjunctivitis">
  <figcaption class="moduk-image__caption">
    Itchy, red, watering eyes
  </figcaption>
</figure>


          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <hr>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <div class="moduk-inset-text">
  <span class="moduk-u-visually-hidden">Information: </span>
  <p>If you drive you must tell the <a href="https://www.gov.uk/contact-the-dvla" title="External website">DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href="https://www.gov.uk/dizziness-and-driving" title="External website">driving with vertigo</a></p>
</div>


          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          

<div class="moduk-card moduk-card--care moduk-card--care--non-urgent">
  <div class="moduk-card--care__heading-container">
    <h3 class="moduk-card--care__heading">
      <span role="text"><span class="moduk-u-visually-hidden">Non-urgent advice: </span>Speak to a GP if:</span>
    </h3>
    <span class="moduk-card--care__arrow" aria-hidden="true"></span>
  </div>
  
  <div class="moduk-card__content">
  
            <ul>
              <li>you're not sure it's chickenpox</li>
              <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
              <li>your child is <a href="https://www.nhs.uk/conditions/dehydration">dehydrated</a></li>
              <li>you're concerned about your child or they get worse</li>
            </ul>
            <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
            
  </div>
</div>


          <div class="moduk-inset-text">
  <span class="moduk-u-visually-hidden">Information: </span>
  <p>If you drive you must tell the <a href="https://www.gov.uk/contact-the-dvla" title="External website">DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href="https://www.gov.uk/dizziness-and-driving" title="External website">driving with vertigo</a></p>
</div>


          <hr>

          <h2>H2 heading</h2>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          

<div class="moduk-card moduk-card--care moduk-card--care--non-urgent">
  <div class="moduk-card--care__heading-container">
    <h3 class="moduk-card--care__heading">
      <span role="text"><span class="moduk-u-visually-hidden">Non-urgent advice: </span>Speak to a GP if:</span>
    </h3>
    <span class="moduk-card--care__arrow" aria-hidden="true"></span>
  </div>
  
  <div class="moduk-card__content">
  
            <ul>
              <li>you're not sure it's chickenpox</li>
              <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
              <li>your child is <a href="https://www.nhs.uk/conditions/dehydration">dehydrated</a></li>
              <li>you're concerned about your child or they get worse</li>
            </ul>
            <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
            
  </div>
</div>


          <ul class="moduk-list">
            <li><a href="#">Unordered list item using moduk-list</a></li>
            <li><a href="#">Unordered list item using moduk-list</a></li>
          </ul>

          <ul class="moduk-list moduk-list--bullet">
            <li><a href="#">Unordered list item using moduk-list--bullet</a></li>
            <li><a href="#">Unordered list item using moduk-list--bullet</a></li>
          </ul>

          

<div class="moduk-card moduk-card--care moduk-card--care--urgent">
  <div class="moduk-card--care__heading-container">
    <h3 class="moduk-card--care__heading">
      <span role="text"><span class="moduk-u-visually-hidden">Urgent advice: </span>Ask for an urgent GP appointment if:</span>
    </h3>
    <span class="moduk-card--care__arrow" aria-hidden="true"></span>
  </div>
  
  <div class="moduk-card__content">
  
            <ul>
              <li>you're an adult and have chickenpox</li>
              <li>you're pregnant and haven't had chickenpox before and you've been near someone with it </li>
              <li>you have a weakened immune system and you've been near someone with chickenpox</li>
              <li>you think your newborn baby has chickenpox</li>
            </ul>
            <p>In these situations, your GP can prescribe medicine to prevent complications. You need to take it within 24 hours of the spots coming out.</p>
            
  </div>
</div>


          

<div class="moduk-card moduk-card--care moduk-card--care--emergency">
  <div class="moduk-card--care__heading-container">
    <h3 class="moduk-card--care__heading">
      <span role="text"><span class="moduk-u-visually-hidden">Immediate action required: </span>Call 999 if you have sudden chest pain that:</span>
    </h3>
    <span class="moduk-card--care__arrow" aria-hidden="true"></span>
  </div>
  
  <div class="moduk-card__content">
  
            <ul>
              <li>spreads to your arms, back, neck or jaw</li>
              <li>makes your chest feel tight or heavy</li>
              <li>also started with shortness of breath, sweating and feeling or being sick</li>
            </ul>
            <p>You could be having a heart attack. Call 999 immediately as you need immediate treatment in hospital.</p>
            
  </div>
</div>


          <h2>H2 heading</h2>

          

<div class="moduk-card moduk-card--care moduk-card--care--non-urgent">
  <div class="moduk-card--care__heading-container">
    <h3 class="moduk-card--care__heading">
      <span role="text"><span class="moduk-u-visually-hidden">Non-urgent advice: </span>Speak to a GP if:</span>
    </h3>
    <span class="moduk-card--care__arrow" aria-hidden="true"></span>
  </div>
  
  <div class="moduk-card__content">
  
            <ul>
              <li>you're not sure it's chickenpox</li>
              <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
              <li>your child is <a href="https://www.nhs.uk/conditions/dehydration">dehydrated</a></li>
              <li>you're concerned about your child or they get worse</li>
            </ul>
            <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
            
  </div>
</div>


          <h3>H3 heading</h3>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          
<div class="moduk-do-dont-list">
  <h3 class="moduk-do-dont-list__label">Do</h3>
  <ul class="moduk-list moduk-list--tick">
    <li>
      <svg class="moduk-icon moduk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
      </svg>
      cover blisters that are likely to burst with a soft plaster or dressing
    </li>
    <li>
      <svg class="moduk-icon moduk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
      </svg>
      wash your hands before touching a burst blister
    </li>
    <li>
      <svg class="moduk-icon moduk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
      </svg>
      allow the fluid in a burst blister to drain before covering it with a plaster or dressing
    </li>
  </ul>
</div>


          
<div class="moduk-do-dont-list">
  <h3 class="moduk-do-dont-list__label">Don&#39;t</h3>
  <ul class="moduk-list moduk-list--cross">
    <li>
      <svg class="moduk-icon moduk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
        <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
        <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
      </svg>
      do not burst a blister yourself
    </li>
    <li>
      <svg class="moduk-icon moduk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
        <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
        <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
      </svg>
      do not peel the skin off a burst blister
    </li>
    <li>
      <svg class="moduk-icon moduk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
        <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
        <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
      </svg>
      do not pick at the edges of the remaining skin
    </li>
    <li>
      <svg class="moduk-icon moduk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
        <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
        <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
      </svg>
      do not wear the shoes or use the equipment that caused your blister until it heals
    </li>
  </ul>
</div>


          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <h2>H2 heading</h2>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <details class="moduk-details">
  <summary class="moduk-details__summary">
    <span class="moduk-details__summary-text">
      Where can I find my NHS number?
    </span>
  </summary>
  <div class="moduk-details__text">
            <p>An NHS number is a 10 digit number, like 485 777 3456.</p>
            <p>You can find your NHS number on any document sent to you by the NHS. This may include:</p>
            <ul>
              <li>prescriptions</li>
              <li>test results</li>
              <li>hospital referral letters</li>
              <li>appointment letters</li>
              <li>your NHS medical card</li>
            </ul>
            <p>Ask your GP practice for help if you can't find your NHS number.</p>
            
  </div>
</details>


          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <h2>H2 heading</h2>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          
<div class="moduk-warning-callout">
  <h3 class="moduk-warning-callout__label">
    Important<span class="moduk-u-visually-hidden">:</span>
  </h3>
  <p>If you develop symptoms of anaphylaxis, such as difficulty breathing, you should inject yourself in the outer thigh before seeking emergency medical help.</p>
</div>


          <h2>H2 heading</h2>

          
<div class="moduk-warning-callout">
  <h3 class="moduk-warning-callout__label">
    Important<span class="moduk-u-visually-hidden">:</span>
  </h3>
  <p>If you develop symptoms of anaphylaxis, such as difficulty breathing, you should inject yourself in the outer thigh before seeking emergency medical help.</p>
</div>


          <h2>H2 heading</h2>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          
<div class="moduk-table__panel-with-heading-tab">
    <h3 class="moduk-table__heading-tab">Skin symptoms and possible causes</h3>
  <table class="moduk-table">
    <caption class="moduk-table__caption">Skin symptoms and possible causes</caption>
    <thead role="rowgroup" class="moduk-table__head">
    <tr role="row">
        <th role="columnheader" class="" scope="col">
          Skin symptoms
        </th>
        <th role="columnheader" class="" scope="col">
          Possible cause
        </th>
    </tr>
    </thead>
    <tbody class="moduk-table__body">
      <tr role="row" class="moduk-table__row" >
              <td class="moduk-table__cell">Blisters on lips or around the mouth</td>
              <td class="moduk-table__cell ">cold sores</td>
      </tr>
      <tr role="row" class="moduk-table__row" >
              <td class="moduk-table__cell">Itchy, dry, cracked, sore</td>
              <td class="moduk-table__cell ">eczema</td>
      </tr>
      <tr role="row" class="moduk-table__row" >
              <td class="moduk-table__cell">Itchy blisters</td>
              <td class="moduk-table__cell ">shingles, chickenpox</td>
      </tr>
    </tbody>
  </table>
</div>


          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <h2>H2 heading</h2>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <div class="moduk-action-link">
  <a class="moduk-action-link__link" href="https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551">
    <svg class="moduk-icon moduk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="moduk-action-link__text">Find a minor injuries unit</span>
  </a>
</div>


          <ul>
            <li>Unordered list item using no class</li>
            <li>Unordered list item using no class</li>
          </ul>

          <h2>Content with images</h2>

          <figure class="moduk-image">
  <img class="moduk-image__img" src="https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg" alt="Picture of allergic conjunctivitis">
  <figcaption class="moduk-image__caption">
    Itchy, red, watering eyes
  </figcaption>
</figure>


          <h3>H3 heading</h3>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <figure class="moduk-image">
  <img class="moduk-image__img" src="https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg" alt="Picture of allergic conjunctivitis">
  <figcaption class="moduk-image__caption">
    Itchy, red, watering eyes
  </figcaption>
</figure>


          <figure class="moduk-image">
  <img class="moduk-image__img" src="https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg" alt="Picture of allergic conjunctivitis">
  <figcaption class="moduk-image__caption">
    Itchy, red, watering eyes
  </figcaption>
</figure>


          <figure class="moduk-image">
  <img class="moduk-image__img" src="https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg" alt="Picture of allergic conjunctivitis">
  <figcaption class="moduk-image__caption">
    Itchy, red, watering eyes
  </figcaption>
</figure>


          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <div class="moduk-action-link">
  <a class="moduk-action-link__link" href="#">
    <svg class="moduk-icon moduk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="moduk-action-link__text">Find a minor injuries unit</span>
  </a>
</div>


          <hr class="moduk-section-break moduk-section-break--xl moduk-section-break--visible">

          <h2>Section spacing</h2>
          <p>moduk-section-break moduk-section-break--xl moduk-section-break--visible</p>
          <hr class="moduk-section-break moduk-section-break--xl moduk-section-break--visible">
          <p>moduk-section-break moduk-section-break--l moduk-section-break--visible</p>
          <hr class="moduk-section-break moduk-section-break--l moduk-section-break--visible">
          <p>moduk-section-break moduk-section-break--m moduk-section-break--visible</p>
          <hr class="moduk-section-break moduk-section-break--m moduk-section-break--visible">
          <p>moduk-section-break moduk-section-break--visible</p>
          <hr class="moduk-section-break moduk-section-break--visible">

        </div>
      </div>

    </main>
  </div>



      
  </body>
</html>
