@import "../tag/index";

@include moduk-exports("moduk/component/phase-banner") {
  .moduk-phase-banner {
    padding-top: moduk-spacing(2);
    padding-bottom: moduk-spacing(2);

    border-bottom: 1px solid $moduk-border-colour;
  }

  .moduk-phase-banner__content {
    @include moduk-font($size: 16);
    @include moduk-text-colour;

    display: table;
    margin: 0;
  }

  .moduk-phase-banner__content__tag {
    margin-right: moduk-spacing(2);
  }

  .moduk-phase-banner__text {
    display: table-cell;
    vertical-align: middle;
  }
}
