/* ==========================================================================
   COMPONENTS / #HEADER
   ========================================================================== */

/**
 * The behaviour with regards to responsiveness is as follow:
 *
 * - Mobile to tablet view
 *   Menu toggle button visible and navigation links hidden, search toggle
     button visible and search form hidden
 *
 * - Tablet to desktop view
 *   Menu toggle button visible and navigation links hidden, search toggle
 *   button hidden and search form visible
 *
 * - Desktop+ view
 *   Menu toggle button hidden and navigation links visible, search toggle
 *   button hidden and search form visible
 *
 * 1. Custom height and width of the logo
 * 2. Custom height and width of form items
 * 3. Custom height and width of svg icons
 * 4. Remove inner border on buttons for Firefox, see
 *    https://github.com/necolas/normalize.css/issues/393
 * 5. Proprietary extension so form field looks the same in Safari
 * 6. Custom margin to move menu toggle past the search toggle button
 * 7. Custom border value between expanded search and expanded menu if both open at the same time
 * 8. Don't display the link address for the logo anchor, see
 *     core/elements/_links.scss
 * 9. Use non variable colour to follow NHS England guidelines on logo colour
 * 10. Remove random top margin in Safari
 * 11. Align close icon with nav item arrow icons
 * 12. Add moduk-spacing(9) to align right and left main nav with header
 */

.moduk-header {
  @include clearfix();
  background-color: $color_moduk-maroon;
}

.moduk-header__container {
  @include clearfix();
  padding: 20px 0;

  @include mq($until: tablet) {
    margin: 0;
    padding: moduk-spacing(3);
  }
}

.moduk-header__logo {
  float: left;

  @include mq($until: tablet) {
    position: relative;
    z-index: 1;
  }

  // .moduk-logo__background {
  //   fill: $color_moduk-white;

  //   @include mq($media-type: print) {
  //     fill: $color_moduk-maroon;
  //   }
  // }

  // .moduk-logo__text {
  //   fill: $color_moduk-maroon;

  //   @include mq($media-type: print) {
  //     fill: $color_moduk-white;
  //   }
  // }

  @include mq($from: tablet) {
    padding-left: 0;
  }

  .moduk-logo {
    @include moduk-logo-size; /* [1] */
    border: 0;
  }

  @include mq($until: desktop) {
    max-width: 60%;
  }

  @media (max-width: 450px) {
    max-width: 50%;
  }

}

.moduk-header__link {
  @include moduk-logo-size; /* [1] */
  display: block;
  fill: $color_moduk-white; // Added [TS]

  &:hover {
    .moduk-logo {
      box-shadow: 0 0 0 $moduk-focus-width $color_shade_moduk-blue-35;
    }
  }

  &:focus {
    box-shadow: none;

    .moduk-logo {
      box-shadow: 0 0 0 $moduk-focus-width $moduk-focus-color, 0 $moduk-focus-width 0 $moduk-focus-width $moduk-focus-text-color;
    }
  }

  @include mq($media-type: print) {
    &:after {
      content: ''; /* [8] */
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }
}

.moduk-header__content {
  @include clearfix();
  @include print-hide();

  position: relative;

  &.js-show {
    border-bottom: moduk-spacing(1) solid $color_moduk-grey-5; /* [7] */
  }

  @include mq($from: tablet) {
    float: right;

    &.js-show {
      border-bottom: 0;
    }

  }

}

.moduk-header__search {
  @include clearfix();

  position: relative;
  text-align: right;

  @include mq($from: tablet) {
    float: left;
    margin-left: moduk-spacing(2);
  }

}

.moduk-header__search-toggle {
  @include toggle-button();
  min-height: moduk-spacing(6); /* [2] */
  padding: moduk-spacing(1) moduk-spacing(2) 0;
  position: absolute;
  right: 0;
  top: 0;

  .moduk-icon__search {
    fill: $color_moduk-white;
    height: 21px; /* [3] */
    width: 21px; /* [3] */
  }

  &:focus {
    @include moduk-focused-button();
    box-shadow: 0 0 0 2px $moduk-focus-color, 0 $moduk-focus-width 0 2px $moduk-focus-text-color;
  }

  @include mq($from: tablet) {
    display: none;
  }
}

.moduk-header__search-form {
  height: 100%;
  overflow: visible;

  @include mq($until: tablet) {
    background-color: $color_moduk-white;
    display: flex;
    padding: moduk-spacing(3);
    width: 100%;
  }
}

.moduk-header__search-wrap {
  @include mq($until: tablet) {
    display: none;

    &.js-show {
      clear: both;
      display: flex;
      margin-bottom: -20px;
      margin-left: -16px;
      margin-right: -16px;
      padding-top: 16px;
      text-align: left;
    }
  }

  @include mq($from: tablet) {
    display: block;
    line-height: 0;
  }
}

.moduk-search__input {
  -webkit-appearance: listbox; /* [5] */
  border-bottom-left-radius: $moduk-border-radius;
  border-bottom-right-radius: 0;
  border-top-left-radius: $moduk-border-radius;
  border-top-right-radius: 0;
  padding: 0 moduk-spacing(3);
  &:focus {
    border: 4px solid $moduk-focus-text-color;
    box-shadow: 0 0 0 $moduk-focus-width $moduk-focus-color;
    outline: $moduk-focus-width solid transparent;
    outline-offset: $moduk-focus-width;
    padding: 0 9px;
  }
  &::placeholder {
    color: $color_moduk-grey-1;
    font-size: $moduk-base-font-size;
  }
  &:-ms-input-placeholder {
    color: $color_moduk-grey-1;
    font-size: $moduk-base-font-size;
  }
  &::-webkit-input-placeholder {
    color: $color_moduk-grey-1;
    font-size: $moduk-base-font-size;
  }

  @include mq($until: tablet) {
    border-bottom: 1px solid $color_moduk-grey-3;
    border-left: 1px solid $color_moduk-grey-3;
    border-right: 0;
    border-top: 1px solid $color_moduk-grey-3;
    flex-grow: 2;
    -ms-flex-positive: 2;
    font-size: inherit;
    height: 52px; /* [4] */
    margin: 0;
    outline: none;
    width: 100%; /* [4] */
    z-index: 1;
  }

  @include mq($from: tablet) {
    border: 1px solid $color_moduk-white;
    font-size: $moduk-base-font-size;
    height: moduk-spacing(6); /* [2] */
    width: 200px; /* [2] */
  }

  @include mq($from: desktop) {
    width: 235px;
  }
}

.moduk-search__submit {
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: $moduk-border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: $moduk-border-radius;
  float: right;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  padding: 0;

  &::-moz-focus-inner {
    border: 0; /* [4] */
  }

  &:hover {
    cursor: pointer;
  }

  @include mq($until: tablet) {
    background-color: $color_moduk-green;
    height: 52px; /* [2] */
    margin: 0;
    padding: moduk-spacing(2) moduk-spacing(2) 0;

    .moduk-icon__search {
      fill: $color_moduk-white;
      height: 38px; /* [3] */
      width: 38px; /* [3] */
    }

    &:hover {
      background-color: $moduk-button-hover-color;
    }

    &:focus {
      background-color: $moduk-focus-color;
      box-shadow: 0 -4px $moduk-focus-color, 0 $moduk-focus-width $moduk-focus-text-color;
      outline: $moduk-focus-width solid transparent;
      outline-offset: $moduk-focus-width;

      &:hover {
        background-color: $moduk-focus-color;

        .moduk-icon {
          fill: $moduk-focus-text-color;
        }
      }

      .moduk-icon {
        fill: $moduk-focus-text-color;
      }
    }
  }

  @include mq($from: tablet) {
    background-color: $color_moduk-grey-5;
    display: block;
    height: moduk-spacing(6); /* [2] */
    width: 44px; /* [2] */

    .moduk-icon__search {
      height: 27px; /* [3] */
      width: 27px; /* [3] */
    }

    &:hover {
      background-color: $color_shade_moduk-blue-35;
      border: 1px solid $color_moduk-white;

      .moduk-icon__search {
        fill: $color_moduk-white;
      }
    }

    &:focus {
      @include moduk-focused-button();
      box-shadow: 0 -2px $moduk-focus-color, 0 $moduk-focus-width $moduk-focus-text-color;
    }

    &:active {
      background-color: $color_shade_moduk-blue-50;
      border: 0;

      .moduk-icon__search {
        fill: $color_moduk-white;
      }
    }
  }
}

.moduk-search__close {
  @include mq($until: tablet) {
    @include close-button();

    margin-left: moduk-spacing(2);
    margin-right: - moduk-spacing(2); /* [11] */
    margin-top: moduk-spacing(2);

    &:focus {
      .moduk-icon__close {
        fill: $moduk-focus-text-color;
      }
    }
  }

  @include mq($from: tablet) {
    display: none;
  }
}

.moduk-search__input--withdropdown {
  border-bottom-left-radius: 0;
}

.moduk-search__submit--withdropdown {
  border-bottom-right-radius: 0;
}

/* Main navigation
 *
 * Appears below the header strip
   ====================================================================== */

.moduk-header__menu {
  float: right;

  @include mq($from: tablet) {
    float: left;
  }
}

.moduk-header__menu-toggle {
  @include toggle-button();

  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: $moduk-base-line-height;
  margin-right: 0; /* [6] */
  padding: 7px moduk-spacing(3);
  position: relative;
  text-decoration: none;
  z-index: 1;

  @include mq($until: tablet) {
    right: 48px;
  }

  @include mq($from: tablet, $until: large-desktop) {
    margin-top: 0; /* [10] */
  }

  @include mq($from: large-desktop) {
    display: none;
  }

  &:focus {
    @include moduk-focused-button;

    box-shadow: 0 0 0 2px $moduk-focus-color, 0 $moduk-focus-width 0 2px $moduk-focus-text-color;
  }

}

/* 'only' modifier for when there is only the menu in the header, no search
   ====================================================================== */

.moduk-header__menu--only {
  .moduk-header__menu-toggle {
    @include mq($until: tablet) {
      position: relative;
      right: auto;
      top: auto;
    }
  }
}

.moduk-header__navigation {
  @include print-hide();
  background-color: $color_moduk-white;
  clear: both;
  display: none;
  overflow: hidden;

  &.js-show {
    display: block;

    @include mq($until: large-desktop) {
      border-bottom: moduk-spacing(1) solid $color_moduk-grey-5; /* [7] */
      border-top: moduk-spacing(1) solid $color_moduk-grey-5; /* [7] */

      .moduk-width-container {
        margin: 0 moduk-spacing(3);
      }
    }

    @include mq($until: desktop) {
      .moduk-width-container {
        margin: 0;
      }
    }
  }

  @include mq($from: large-desktop) {
    background-color: $color_moduk-maroon;
    display: block;
    margin: 0 auto;
    max-width: $moduk-page-width + moduk-spacing(9); /* [12] */
  }
}

.moduk-header__navigation-title {
  font-weight: $moduk-font-bold;
  margin-bottom: 0;
  padding: moduk-spacing(3);
  position: relative;

  @include mq($from: large-desktop) {
    display: none;
  }
}

.moduk-header__navigation-close {
  @include close-button();
  overflow: hidden;
  position: absolute;
  right: moduk-spacing(2);
  top: moduk-spacing(2);
  white-space: nowrap;

  &:focus {
    .moduk-icon__close {
      fill: $moduk-focus-text-color;
    }
  }
}

.moduk-header__navigation-list {
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include mq($from: large-desktop) {
    border-top: 1px solid $moduk-secondary-border-color;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }
}

.moduk-header__navigation-item {
  border-top: 1px solid $color_moduk-grey-5;
  margin-bottom: 0;
  position: relative;

  @include mq($from: large-desktop) {
    border-top: 0;
    margin: 0;
    text-align: center;

    .moduk-icon__chevron-right {
      display: none;
    }
  }
}

.moduk-header__navigation-link {
  @include moduk-font(16);
  border-bottom: moduk-spacing(1) solid transparent;
  border-top: moduk-spacing(1) solid transparent;
  color: $color_moduk-maroon;
  display: block;
  padding: 12px moduk-spacing(3);
  text-decoration: none;

  @include mq($from: large-desktop) {
    color: $color_moduk-white;
    line-height: normal;
  }

  .moduk-icon__chevron-right {
    fill: $color_moduk-grey-3;
    position: absolute;
    right: moduk-spacing(1);
    top: 11px;
  }

  &:visited {
    color: $color_moduk-maroon;

    @include mq($from: large-desktop) {
      color: $color_moduk-white;
    }
  }

  &:hover {
    box-shadow: none;
    color: $color_moduk-maroon;
    text-decoration: underline;

    @include mq($from: large-desktop) {
      color: $color_moduk-white;
    }

    .moduk-icon__chevron-right {
      fill: $color_moduk-maroon;
    }

  }

  &:active,
  &:focus {
    background-color: $moduk-focus-color;
    border-bottom: $moduk-focus-width solid $moduk-focus-text-color;
    box-shadow: none;
    color: $moduk-focus-text-color;
    outline: $moduk-focus-width solid transparent;
    outline-offset: $moduk-focus-width;
    text-decoration: none;

    &:hover {
      background-color: $moduk-focus-color;
      color: $moduk-focus-text-color;

      .moduk-icon__chevron-right {
        fill: $moduk-focus-text-color;
      }
    }

    &:visited {
      background-color: $moduk-focus-color;
      color: $moduk-focus-text-color;
    }
  }
}

.moduk-header__navigation-item--for-mobile {
  @include mq($from: large-desktop) {
    display: none;
  }
}

.moduk-header__navigation-list--small {
  @include mq($from: large-desktop) {
    justify-content: flex-start;
  }
}


/**
 * Transactional Header with service name
**/

.moduk-header__transactional-service-name {
  float: left;
  padding-left: moduk-spacing(3);
  padding-top: 3px;

  @include mq($until: large-desktop) {
    padding-left: 0;
    padding-top: moduk-spacing(2);
    width: 100%;
  }
}

.moduk-header__transactional-service-name--link {
  @include moduk-link-style-white;
  @include moduk-font(19);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.moduk-header--transactional {

  .moduk-header__link {
    @include moduk-logo-size-small;
    display: block;
  }

  .moduk-logo {
    @include moduk-logo-size-small;
  }

  .moduk-header__transactional-service-name {
    padding-top: moduk-spacing(2);
    float: left;
  }

}

.moduk-header__link--service {
  height: auto;
  margin-bottom: -(moduk-spacing(1));
  text-decoration: none;
  width: auto;

  @include mq($from: large-desktop) {
    align-items: center;
    display: flex;
    -ms-flex-align: center;
    margin-bottom: 0;
    width: auto;
  }

  &:hover {
    background: none;

    .moduk-header__service-name {
      text-decoration: underline;
    }

  }

  &:focus {
    background: $moduk-focus-color;
    box-shadow: 0 0 0 $moduk-focus-width $moduk-focus-color, 0 $moduk-focus-width 0 $moduk-focus-width $moduk-focus-text-color;

    .moduk-header__service-name {
      color: $moduk-focus-text-color;
      text-decoration: none;
    }

    .moduk-logo {
      box-shadow: none;
    }

  }

}

.moduk-header__service-name {
  @include moduk-font(19);
  color: $color_moduk-white;
  display: block;
  padding-left: 0;
  padding-right: 0;
  padding-top: moduk-spacing(2); // Added by [TS] to align service-name if used

  @include mq($from: large-desktop) {
    padding-left: moduk-spacing(3);
  }

  @include mq($until: large-desktop) {
    max-width: 220px;
  }

}

.moduk-header__logo--only {
  max-width: 100%;

  @include mq($from: tablet) {

    .moduk-header__link--service {
      align-items: center;
      display: flex;
      -ms-flex-align: center;
      margin-bottom: 0;
      width: auto;
    }

    .moduk-header__service-name {
      padding-left: moduk-spacing(3);
    }
  }
}

/**
 * Organisational header
**/

.moduk-header--organisation {

  .moduk-header__link {
    height: auto;
    text-decoration: none;
    width: auto;

    &:hover {
      color: $color_moduk-white;
      text-decoration: underline;

      .moduk-logo {
        box-shadow: none;
      }
    }

    &:focus {
      background: $moduk-focus-color;
      box-shadow: 0 0 0 $moduk-focus-width $moduk-focus-color, 0 $moduk-focus-width 0 $moduk-focus-width $moduk-focus-text-color;

      .moduk-organisation-name,
      .moduk-organisation-descriptor {
        color: $moduk-focus-text-color;
      }

      .moduk-logo {
        box-shadow: none;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .moduk-header__logo .moduk-logo {
    height: 32px;
    width: 80px;

    @media (max-width: 450px) {
      height: 24px;
      width: 60px;
    }

    @media (max-width: 375px) {
      height: 20px;
      width: 50px;
    }
  }

  .moduk-header__navigation {
    max-width: 100%;
  }

}

.moduk-organisation-name {
  color: $color_moduk-white;
  display: block;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: .2px;
  line-height: 23px;
  margin-top: -2px;

  @include mq($media-type: print) {
    color: $moduk-print-text-color;
  }

  @media (max-width: 450px) {
    font-size: 17px;
    letter-spacing: .1px;
    line-height: 17px;
  }

  @media (max-width: 375px) {
    font-size: 13px;
    line-height: 13px;
  }

  .moduk-organisation-name-split {
    display: block;
  }

}

.moduk-organisation-descriptor {
  color: $color_moduk-white;
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 21px;

  @include mq($media-type: print) {
    color: $color_moduk-maroon;
  }

  @media (max-width: 450px) {
    font-size: 12px;
    line-height: 18px;
  }

  @media (max-width: 375px) {
    font-size: 10px;
    line-height: 13px;
  }
}

.moduk-org-logo {
  border: 0;
  max-height: 100px;
  max-width: 280px;

  @media (max-width: 450px) {
    max-width: 150px;
  }
}

.moduk-org-logo[src $= '.svg'] {
  height: auto;
  max-width: 220px;
  width: 100%;
}

// Header (white)

.moduk-header--white {
  background-color: $color_moduk-white;

  .moduk-logo {
    .moduk-logo__background {
      fill: $color_moduk-maroon;
    }

    .moduk-logo__text {
      fill: $color_moduk-white;
    }
  }

  .moduk-header__link {

    &:hover {
      color: $moduk-text-color;
      text-decoration: underline;

      .moduk-organisation-descriptor {
        color: $moduk-text-color;
      }
    }

  }

  .moduk-search__submit {
    background-color: $color_moduk-maroon;

    .moduk-icon__search {
      fill: $color_moduk-white;
    }

    &:hover {
      background-color: $color_shade_moduk-blue-20;
      border-color: $color_shade_moduk-blue-20;
    }

    &:focus {
      background-color: $moduk-focus-color;

      .moduk-icon__search {
        fill: $moduk-focus-text-color;
      }
    }
  }

  .moduk-search__input {
    border: 1px solid $color_moduk-grey-3;

    &:focus {
      border: 2px solid $moduk-focus-text-color;

      @include mq($until: tablet) {
        border: $moduk-focus-width solid $moduk-focus-text-color;
      }
    }
  }

  .moduk-header__search-toggle,
  .moduk-header__menu-toggle {
    border-color: $color_moduk-maroon;
    color: $color_moduk-maroon;

    .moduk-icon {
      fill: $color_moduk-maroon;
    }

    &.is-active,
    &:hover {
      border-color: $color_shade_moduk-blue-20;
      color: $color_moduk-white;

      .moduk-icon {
        fill: $color_moduk-white;
      }
    }

    &:focus {
      color: $moduk-focus-text-color;

      .moduk-icon {
        fill: $moduk-focus-text-color;
      }
    }
  }

  .moduk-header__search-form {
    @include mq($until: tablet) {
      padding-top: 0;
    }
  }

  .moduk-organisation-name {
    color: #000; /* [9] */  /* stylelint-disable-line color-no-hex */
  }

  .moduk-organisation-descriptor {
    color: $color_moduk-maroon;
  }

  .moduk-header__transactional-service-name--link {
    color: $color_moduk-black;
  }

  .moduk-header__navigation-list {
    border-top: 0;
  }

  .moduk-header__service-name {
    color: $moduk-text-color;
  }

}

// Navigation (white)

.moduk-header--white-nav {
  .moduk-header__navigation {
    background-color: $color_moduk-white;

    .moduk-header__navigation-list {
      border-top: 1px solid $color_moduk-grey-5;
    }

    .moduk-header__navigation-link {
      color: $color_moduk-maroon;

      &:visited {
        color: $color_moduk-maroon;
      }

      &:focus {
        color: $moduk-focus-text-color;

        &:hover {
          background: $moduk-focus-color;
        }
      }
    }
  }
}
