{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Back link' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">
          {{ backLink({
            "href": "#",
            "text": "Go back"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
