@include moduk-exports("moduk/component/panel") {
  .moduk-panel {
    @include moduk-font($size: 19);

    box-sizing: border-box;

    margin-bottom: moduk-spacing(3);
    padding: moduk-spacing(7) - $moduk-border-width;

    border: $moduk-border-width solid transparent;

    text-align: center;

    @include moduk-media-query($until: tablet) {
      padding: moduk-spacing(3) - $moduk-border-width;

      // This is an if-all-else-fails attempt to stop long words from overflowing the container
      // on very narrow viewports by forcing them to break and wrap instead. This
      // overflowing is more likely to happen when user increases text size on a mobile eg. using
      // iOS Safari text resize controls.
      //
      // The overflowing is a particular problem with the panel component since it uses white
      // text: when the text overflows the container, it is invisible on the white (page)
      // background. When the text in our other components overflow, the user might have to scroll
      // horizontally to view it but the the text remains legible.
      overflow-wrap: break-word;
      word-wrap: break-word; // Support IE (autoprefixer doesn't add this as it's not a prefix)
    }
  }

  .moduk-panel--confirmation {
    color: moduk-colour("white");
    background: moduk-colour("green", $legacy: "turquoise");

    @include moduk-media-query($media-type: print) {
      border-color: currentcolor;
      color: $moduk-print-text-colour;
      background: none;
    }
  }

  .moduk-panel__title {
    margin-top: 0;
    margin-bottom: moduk-spacing(6);

    @include moduk-font($size: 48, $weight: bold);
  }

  .moduk-panel__title:last-child {
    margin-bottom: 0;
  }

  .moduk-panel__body {
    @include moduk-font($size: 36);
  }
}
