{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Label as page heading' %}
{% from 'components/label/macro.njk' import label %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">
          {{ label({
            "text": "National Insurance number",
            "classes": "moduk-label--xl",
            "isPageHeading": true
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
