{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Error message' %}
{% from 'components/error-message/macro.njk' import errorMessage %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">
          {{ errorMessage({
            "text": "Error message about full name goes here"
          }) }}
        </div>
      </div>
    </main>
  </div>

{% endblock %}
