@include moduk-exports("moduk/component/summary-list") {
  .moduk-summary-list {
    @include moduk-font($size: 19);
    @include moduk-text-colour;
    @include moduk-media-query($from: tablet) {
      display: table;
      width: 100%;
      table-layout: fixed; // Required to allow us to wrap words that overflow.
      border-collapse: collapse;
    }
    margin: 0; // Reset default user agent styles
    @include moduk-responsive-margin(6, "bottom");
  }

  .moduk-summary-list__row {
    border-bottom: 1px solid $moduk-border-colour;

    @include moduk-media-query($until: tablet) {
      margin-bottom: moduk-spacing(3);
    }
    @include moduk-media-query($from: tablet) {
      display: table-row;
    }
  }

  // Remove right padding from the last column in the row
  .moduk-summary-list__row:not(.moduk-summary-list__row--no-actions) > :last-child {
    padding-right: 0;
  }

  // Provide an empty 'cell' for rows that don't have actions – otherwise the
  // bottom border is not drawn for that part of the row in some browsers.
  .moduk-summary-list__row--no-actions {
    @include moduk-media-query($from: tablet) {
      &:after {
        content: "";
        display: table-cell;
        width: 20%;
      }
    }
  }

  .moduk-summary-list__key,
  .moduk-summary-list__value,
  .moduk-summary-list__actions {
    margin: 0; // Reset default user agent styles

    @include moduk-media-query($from: tablet) {
      display: table-cell;
      padding-top: moduk-spacing(2);
      padding-right: moduk-spacing(4);
      padding-bottom: moduk-spacing(2);
    }
  }

  .moduk-summary-list__actions {
    margin-bottom: moduk-spacing(3);
    @include moduk-media-query($from: tablet) {
      width: 20%;
      padding-right: 0; // Needed for IE8
      text-align: right;
    }
  }

  .moduk-summary-list__key,
  .moduk-summary-list__value {
    // Automatic wrapping for unbreakable text (e.g. URLs)
    word-wrap: break-word; // Fallback for older browsers only
    overflow-wrap: break-word;
  }

  .moduk-summary-list__key {
    margin-bottom: moduk-spacing(1);
    @include moduk-typography-weight-bold;
    @include moduk-media-query($from: tablet) {
      width: 30%;
    }
  }

  .moduk-summary-list__value {
    @include moduk-media-query($until: tablet) {
      margin-bottom: moduk-spacing(3);
    }
  }

  .moduk-summary-list__value > p {
    margin-bottom: moduk-spacing(2);
  }

  .moduk-summary-list__value > :last-child {
    margin-bottom: 0;
  }

  .moduk-summary-list__actions-list {
    width: 100%;
    margin: 0; // Reset default user agent styles
    padding: 0; // Reset default user agent styles
  }

  .moduk-summary-list__actions-list-item {
    display: inline-block;
  }

  // In older browsers such as IE8, :last-child is not available,
  // so only show the border divider where it is available.
  @include moduk-media-query($until: tablet) {
    .moduk-summary-list__actions-list-item {
      margin-right: moduk-spacing(2);
      padding-right: moduk-spacing(2);
    }

    .moduk-summary-list__actions-list-item:not(:last-child) {
      border-right: 1px solid $moduk-border-colour;
    }

    .moduk-summary-list__actions-list-item:last-child {
      margin-right: 0;
      padding-right: 0;
      border: 0;
    }
  }

  @include moduk-media-query($from: tablet) {
    .moduk-summary-list__actions-list-item {
      margin-left: moduk-spacing(2);
      padding-left: moduk-spacing(2);
    }

    .moduk-summary-list__actions-list-item:not(:first-child) {
      border-left: 1px solid $moduk-border-colour;
    }

    .moduk-summary-list__actions-list-item:first-child {
      margin-left: 0;
      padding-left: 0;
      border: 0;
    }
  }

  // No border on entire summary list
  .moduk-summary-list--no-border {
    .moduk-summary-list__row {
      border: 0;
    }

    // Increase padding by 1px to compensate for 'missing' border
    @include moduk-media-query($from: tablet) {
      .moduk-summary-list__key,
      .moduk-summary-list__value,
      .moduk-summary-list__actions {
        padding-bottom: moduk-spacing(2) + 1px;
      }
    }
  }

  // No border on specific rows
  .moduk-summary-list__row--no-border {
    border: 0;

    // Increase padding by 1px to compensate for 'missing' border
    @include moduk-media-query($from: tablet) {
      .moduk-summary-list__key,
      .moduk-summary-list__value,
      .moduk-summary-list__actions {
        padding-bottom: moduk-spacing(2) + 1px;
      }
    }
  }
}
