{% extends "layout.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block content %}

<div class="moduk-grid-row">
  <div class="moduk-grid-column-two-thirds">

  <div class="moduk-button-group">
    {{ govukButton({
      "text": "Accept analytics cookies"
    }) }}

    {{ govukButton({
      "text": "Reject analytics cookies"
    }) }}

    <a href="#" class="moduk-link">View cookies</a>
  </div>

  <div class="moduk-button-group">
    {{ govukButton({
      "text": "Derbyn cwcis dadansoddeg"
    }) }}

    {{ govukButton({
      "text": "Gwrthod cwcis dadansoddeg"
    }) }}

    <a href="#" class="moduk-link">Gweld cwcis</a>
  </div>

  <div class="moduk-button-group">
    {{ govukButton({
      "text": "Accept really important analytics cookies"
    }) }}

    {{ govukButton({
      "text": "Reject really important analytics cookies but not essential cookies"
    }) }}

    <a href="#" class="moduk-link">View cookies and set preferences to do with whether we can set cookies</a>
  </div>

  <div class="moduk-button-group">
    {{ govukButton({
      "text": "Delete account",
      "classes": "moduk-button--warning"
    }) }}

    <a href="#" class="moduk-link moduk-link--muted">Cancel</a>
    <a href="#" class="moduk-link moduk-link--muted">Cancel and go back</a>
  </div>

  <div class="moduk-button-group">
    <a href="#" class="moduk-link">Buy it</a>

    {{ govukButton({
      "text": "Use it"
    }) }}

    {{ govukButton({
      "text": "Break it"
    }) }}

    <a href="#" class="moduk-link">Fix it</a>
    <a href="#" class="moduk-link">Trash it</a>
    <a href="#" class="moduk-link">Change it</a>

    {{ govukButton({
      "text": "Mail it"
    }) }}

    <a href="#" class="moduk-link">Upgrade it</a>

    <a href="#" class="moduk-link">Charge it</a>

    {{ govukButton({
      "text": "Point it"
    }) }}

    {{ govukButton({
      "text": "Zoom it"
    }) }}

    {{ govukButton({
      "text": "Press it"
    }) }}
  </div>

  <div class="moduk-button-group">
    {{ govukButton({
      text: "Start now",
      href: "#",
      isStartButton: true
    }) }}

    <a href="#" class="moduk-link">Back</a>
  </div>

  </div>
</div>
{% endblock %}
