////
/// @group helpers/links
////

/// Common link styles
///
/// Provides the typography and focus state, regardless of link style.
///
/// @access public

@mixin moduk-link-common {
  @include moduk-typography-common;
  @include moduk-link-decoration;

  &:hover {
    @include moduk-link-hover-decoration;
  }

  &:focus {
    @include moduk-focused-text;
  }
}

/// Link decoration
///
/// Provides the text decoration for links, including thickness and underline
/// offset. Use this mixin only if you cannot use the `moduk-link-common` mixin.
///
/// @access public
@mixin moduk-link-decoration {
  text-decoration: underline;

  @if $moduk-new-link-styles {
    @if $moduk-link-underline-thickness {
      text-decoration-thickness: $moduk-link-underline-thickness;
    }

    @if $moduk-link-underline-offset {
      text-underline-offset: $moduk-link-underline-offset;
    }
  }
}

/// Link hover decoration
///
/// Provides the text decoration for links in their hover state, for you to use
/// within a `:hover` pseudo-selector. Use this mixin only if you cannot use the
/// `moduk-link-common` mixin.
///
/// @access public

@mixin moduk-link-hover-decoration {
  @if $moduk-new-link-styles and $moduk-link-hover-underline-thickness {
    text-decoration-thickness: $moduk-link-hover-underline-thickness;
    // Disable ink skipping on underlines on hover. Browsers haven't
    // standardised on this part of the spec yet, so set both properties
    text-decoration-skip-ink: none; // Chromium, Firefox
    text-decoration-skip: none; // Safari
  }
}

/// Default link styles
///
/// Makes links use the default unvisited, visited, hover and active colours.
///
/// If you use this mixin in a component, you must also include the
/// `moduk-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .moduk-component__link {
///     @include moduk-link-common;
///     @include moduk-link-style-default;
///   }
///
/// @access public

@mixin moduk-link-style-default {
  &:link {
    color: $moduk-link-colour;
  }

  &:visited {
    color: $moduk-link-visited-colour;
  }

  &:hover {
    color: $moduk-link-hover-colour;
  }

  &:active {
    color: $moduk-link-active-colour;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $moduk-focus-text-colour;
  }

}

/// Error link styles
///
/// Makes links use the error colour. The link will darken if it's active or a
/// user hovers their cursor over it.
///
/// If you use this mixin in a component, you must also include the
/// `moduk-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .moduk-component__link {
///     @include moduk-link-common;
///     @include moduk-link-style-error;
///   }
///
/// @access public

@mixin moduk-link-style-error {
  &:link,
  &:visited {
    color: $moduk-error-colour;
  }

  &:hover {
    color: scale-color($moduk-error-colour, $lightness: -30%);
  }

  &:active {
    color: $moduk-error-colour;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $moduk-focus-text-colour;
  }

}

/// Success link styles
///
/// Makes links use the success colour. The link will darken if it's active or a
/// user hovers their cursor over it.
///
/// If you use this mixin in a component, you must also include the
/// `moduk-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .moduk-component__link {
///     @include moduk-link-common;
///     @include moduk-link-style-success;
///   }
///
/// @access public

@mixin moduk-link-style-success {
  &:link,
  &:visited {
    color: $moduk-success-colour;
  }

  &:hover {
    color: scale-color($moduk-success-colour, $lightness: -30%);
  }

  &:active {
    color: $moduk-success-colour;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $moduk-focus-text-colour;
  }

}

/// Muted link styles
///
/// Makes links use the secondary text colour. The link will darken if it's
/// active or a user hovers their cursor over it.
///
/// If you use this mixin in a component, you must also include the
/// `moduk-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .moduk-component__link {
///     @include moduk-link-common;
///     @include moduk-link-style-muted;
///   }
///
/// @access public

@mixin moduk-link-style-muted {
  &:link,
  &:visited {
    color: $moduk-secondary-text-colour;
  }

  &:hover,
  &:active {
    color: $moduk-text-colour;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $moduk-focus-text-colour;
  }

}

/// Text link styles
///
/// Makes links use the primary text colour, in all states. Use this mixin for
/// navigation components, such as breadcrumbs or the back link.
///
/// If you use this mixin in a component, you must also include the
/// `moduk-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .moduk-component__link {
///     @include moduk-link-common;
///     @include moduk-link-style-text;
///   }
///
/// @access public

@mixin moduk-link-style-text {
  &:link,
  &:visited {
    @include moduk-text-colour;
  }

  // Force a colour change on hover to work around a bug in Safari
  // https://bugs.webkit.org/show_bug.cgi?id=224483
  &:hover {
    @if type-of($moduk-text-colour) == color {
      color: rgba($moduk-text-colour, .99);
    }
  }

  &:active,
  &:focus {
    @include moduk-text-colour;
  }

}

/// Inverse link styles
///
/// Makes links white, in all states. Use this mixin if you're displaying links
/// against a dark background.
///
/// If you use this mixin in a component, you must also include the
/// `moduk-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .moduk-component__link {
///     @include moduk-link-common;
///     @include moduk-link-style-inverse;
///   }
///
/// @access public

@mixin moduk-link-style-inverse {
  &:link,
  &:visited {
    color: moduk-colour("white");
  }

  // Force a colour change on hover to work around a bug in Safari
  // https://bugs.webkit.org/show_bug.cgi?id=224483
  &:hover,
  &:active {
    color: rgba(moduk-colour("white"), .99);
  }

  &:focus {
    color: $moduk-focus-text-colour;
  }

}

/// Default link styles, without a visited state
///
/// Makes links use the default unvisited, hover and active colours, with no
/// distinct visited state.
///
/// Use this mixin when it's not helpful to distinguish between visited and
/// non-visited links. For example, when you link to pages with
/// frequently-changing content, such as the dashboard for an admin interface.
///
/// If you use this mixin in a component, you must also include the
/// `moduk-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .moduk-component__link {
///     @include moduk-link-common;
///     @include moduk-link-style-no-visited-state;
///   }
///
/// @access public

@mixin moduk-link-style-no-visited-state {
  &:link {
    color: $moduk-link-colour;
  }

  &:visited {
    color: $moduk-link-colour;
  }

  &:hover {
    color: $moduk-link-hover-colour;
  }

  &:active {
    color: $moduk-link-active-colour;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $moduk-focus-text-colour;
  }
}

/// Remove underline from links
///
/// Remove underlines from links unless the link is active or a user hovers
/// their cursor over it. This has no effect in Internet Explorer 8 (IE8),
/// because IE8 does not support `:not`.
///
/// @example scss
///   .moduk-component__link {
///     @include moduk-link-common;
///     @include moduk-link-style-default;
///     @include moduk-link-style-no-underline;
///   }
///
/// @access public

@mixin moduk-link-style-no-underline {
  &:not(:hover):not(:active) {
    text-decoration: none;
  }
}

/// Include link destination when printing the page
///
/// If the user prints the page, add the destination URL after the link text, if
/// the URL starts with `/`, `http://` or `https://`.
///
/// @access public

@mixin moduk-link-print-friendly {
  @include moduk-media-query($media-type: print) {
    &[href^="/"],
    &[href^="http://"],
    &[href^="https://"] {
      &:after {
        content: " (" attr(href) ")";
        font-size: 90%;

        // Because the URLs may be very long, ensure that they may be broken
        // at arbitrary points if there are no otherwise acceptable break
        // points in the line
        word-wrap: break-word;
      }
    }
  }
}
