{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Card - Feature card' %}
{% from 'components/card/macro.njk' import card %}
{% extends 'layout.njk' %}

{% block body %}

<div class="moduk-width-container">
  <main class="moduk-main-wrapper" id="maincontent">

    <div class="moduk-grid-row">
      <div class="moduk-grid-column-two-thirds">

        {{ card({
          "feature": "true",
          "heading": "Feature card heading",
          "headingClasses": "moduk-heading-m",
          "description": "Feature card description"
        }) }}

      </div>
    </div>

  </main>
</div>

{% endblock %}
