@import "../../core/lists";

@include moduk-exports("moduk/component/error-summary") {
  .moduk-error-summary {
    @include moduk-text-colour;
    @include moduk-responsive-padding(4);
    @include moduk-responsive-margin(8, "bottom");

    border: $moduk-border-width solid $moduk-error-colour;

    &:focus {
      outline: $moduk-focus-width solid $moduk-focus-colour;
    }
  }

  .moduk-error-summary__title {
    @include moduk-font($size: 24, $weight: bold);

    margin-top: 0;
    @include moduk-responsive-margin(4, "bottom");
  }

  .moduk-error-summary__body {
    @include moduk-font($size: 19);

    p {
      margin-top: 0;
      @include moduk-responsive-margin(4, "bottom");
    }
  }

  // Cross-component class - adjusts styling of list component
  .moduk-error-summary__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .moduk-error-summary__list a {
    @include moduk-typography-weight-bold;
    @include moduk-link-common;
    @include moduk-link-style-error;
  }
}
