{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Tag' %}
{% from 'components/tag/macro.njk' import tag %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="moduk-width-container">
    <main class="moduk-main-wrapper" id="maincontent">

      <div class="moduk-grid-row">
        <div class="moduk-grid-column-two-thirds">

          <table class="moduk-table">
            <thead class="moduk-table__head">
              <tr class="moduk-table__row">
                <th class="moduk-table__header" scope="col">Class name</th>
                <th class="moduk-table__header" scope="col" style="width: 120px">Tag</th>
              </tr>
            </thead>
            <tbody class="moduk-table__body">
              <tr class="moduk-table__row">
                <td class="moduk-table__cell">
                  <code> moduk-tag</code>
                </td>
                <td class="moduk-table__cell">
                  {{ tag({
                    text: "Active"
                  })}}
                </td>
              </tr>
              <tr class="moduk-table__row">
                <td class="moduk-table__cell">
                  <code> moduk-tag--white </code>
                </td>
                <td class="moduk-table__cell">
                  {{ tag({
                    text: "Started",
                    classes: "moduk-tag--white"
                  })}}
                </td>
              </tr>
              <tr class="moduk-table__row">
                <td class="moduk-table__cell">
                  <code> moduk-tag--grey </code>
                </td>
                <td class="moduk-table__cell">
                  {{ tag({
                    text: "Not started",
                    classes: "moduk-tag--grey"
                  })}}
                </td>
              </tr>
              <tr class="moduk-table__row">
                <td class="moduk-table__cell">
                  <code> moduk-tag--green </code>
                </td>
                <td class="moduk-table__cell">
                  {{ tag({
                    text: "New",
                    classes: "moduk-tag--green"
                  })}}
                </td>
              </tr>
              <tr class="moduk-table__row">
                <td class="moduk-table__cell">
                  <code> moduk-tag--aqua-green </code>
                </td>
                <td class="moduk-table__cell">
                  {{ tag({
                    text: "Active",
                    classes: "moduk-tag--aqua-green"
                  })}}
                </td>
              </tr>
              <tr class="moduk-table__row">
                <td class="moduk-table__cell">
                  <code> moduk-tag--blue </code>
                </td>
                <td class="moduk-table__cell">
                  {{ tag({
                    text: "Pending",
                    classes: "moduk-tag--blue"
                  })}}
                </td>
              </tr>
              <tr class="moduk-table__row">
                <td class="moduk-table__cell">
                  <code> moduk-tag--purple </code>
                </td>
                <td class="moduk-table__cell">
                  {{ tag({
                    text: "Received",
                    classes: "moduk-tag--purple"
                  })}}
                </td>
              </tr>
              <tr class="moduk-table__row">
                <td class="moduk-table__cell">
                  <code> moduk-tag--pink </code>
                </td>
                <td class="moduk-table__cell">
                  {{ tag({
                    text: "Sent",
                    classes: "moduk-tag--pink"
                  })}}
                </td>
              </tr>
              <tr class="moduk-table__row">
                <td class="moduk-table__cell">
                  <code> moduk-tag--red </code>
                </td>
                <td class="moduk-table__cell">
                  {{ tag({
                    text: "Rejected",
                    classes: "moduk-tag--red"
                  })}}
                </td>
              </tr>
              <tr class="moduk-table__row">
                <td class="moduk-table__cell">
                  <code> moduk-tag--orange </code>
                </td>
                <td class="moduk-table__cell">
                  {{ tag({
                    text: "Declined",
                    classes: "moduk-tag--orange"
                  })}}
                </td>
              </tr>
              <tr class="moduk-table__row">
                <td class="moduk-table__cell">
                  <code> moduk-tag--yellow </code>
                </td>
                <td class="moduk-table__cell">
                  {{ tag({
                    text: "Delayed",
                    classes: "moduk-tag--yellow"
                  })}}
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </main>
  </div>

{% endblock %}
