@include moduk-exports("moduk/component/footer") {

  $moduk-footer-background: $moduk-canvas-background-colour;
  $moduk-footer-border: $moduk-border-colour;
  // This variable can be removed entirely once the legacy palette goes away,
  // as it'll just be the same as $moduk-footer-border.
  $moduk-footer-border-top: $moduk-border-colour;
  $moduk-footer-text: $moduk-text-colour;
  $moduk-footer-link-hover-colour: null; // Only used with the legacy palette

  @if $moduk-use-legacy-palette {
    $moduk-footer-border-top: #a1acb2;
    $moduk-footer-border: moduk-colour("grey-2");
    $moduk-footer-text: #454a4c;
    $moduk-footer-link-hover-colour: #171819;
  }

  // Based on the moduk-crest-2x.png image dimensions.
  $moduk-footer-crest-image-width-2x: 250px;
  $moduk-footer-crest-image-height-2x: 204px;
  // Half the 2x image so that it fits the regular 1x size.
  $moduk-footer-crest-image-width: ($moduk-footer-crest-image-width-2x / 2);
  $moduk-footer-crest-image-height: ($moduk-footer-crest-image-height-2x / 2);

  .moduk-footer {
    @include moduk-font($size: 16);
    @include moduk-responsive-padding(7, "top");
    @include moduk-responsive-padding(5, "bottom");

    border-top: 1px solid $moduk-footer-border-top;
    color: $moduk-footer-text;
    background: $moduk-footer-background;
  }

  .moduk-footer__link {
    @include moduk-link-common;

    @if $moduk-use-legacy-palette {
      &:link,
      &:visited {
        color: $moduk-footer-text;
      }

      &:hover,
      &:active {
        color: $moduk-footer-link-hover-colour;
      }
    } @else {
      @include moduk-link-style-text;
    }

    // alphagov/govuk_template includes a specific a:link:focus selector
    // designed to make unvisited links a slightly darker blue when focussed, so
    // we need to override the text colour for that combination of selectors.
    @include _moduk-compatibility(govuk_template) {
      &:link:focus {
        @include moduk-text-colour;
      }
    }
  }

  .moduk-footer__section-break {
    margin: 0; // Reset `<hr>` default margins
    @include moduk-responsive-margin(8, "bottom");
    border: 0; // Reset `<hr>` default borders
    border-bottom: 1px solid $moduk-footer-border;
  }

  .moduk-footer__meta {
    display: flex; // Support: Flexbox
    margin-right: -$moduk-gutter-half;
    margin-left: -$moduk-gutter-half;
    flex-wrap: wrap; // Support: Flexbox
    align-items: flex-end; // Support: Flexbox
    justify-content: center; // Support: Flexbox
  }

  .moduk-footer__meta-item {
    margin-right: $moduk-gutter-half;
    margin-bottom: moduk-spacing(5);
    margin-left: $moduk-gutter-half;
  }

  .moduk-footer__meta-item--grow {
    flex: 1; // Support: Flexbox
    @include moduk-media-query ($until: tablet) {
      flex-basis: 320px; // Support: Flexbox
    }
  }

  .moduk-footer__licence-logo {
    display: inline-block;
    margin-right: moduk-spacing(2);
    @include moduk-media-query ($until: desktop) {
      margin-bottom: moduk-spacing(3);
    }
    vertical-align: top;
    // Work around SVGs not inheriting color from parent in forced color mode
    // (https://github.com/w3c/csswg-drafts/issues/6310)
    forced-color-adjust: auto;
  }

  .moduk-footer__licence-description {
    display: inline-block;
  }

  .moduk-footer__copyright-logo {
    display: inline-block;
    min-width: $moduk-footer-crest-image-width;
    padding-top: ($moduk-footer-crest-image-height + moduk-spacing(2));
    background-image: moduk-image-url("moduk-crest.png");
    @include moduk-device-pixel-ratio {
      background-image: moduk-image-url("moduk-crest-2x.png");
    }
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: $moduk-footer-crest-image-width $moduk-footer-crest-image-height;
    text-align: center;
    white-space: nowrap;
  }

  .moduk-footer__inline-list {
    margin-top: 0;
    margin-bottom: moduk-spacing(3);
    padding: 0;
  }

  .moduk-footer__meta-custom {
    margin-bottom: moduk-spacing(4);
  }

  .moduk-footer__inline-list-item {
    display: inline-block;
    margin-right: moduk-spacing(3);
    margin-bottom: moduk-spacing(1);
  }

  .moduk-footer__heading {
    margin-bottom: moduk-spacing(6);
    padding-bottom: moduk-spacing(4);

    @include moduk-media-query ($until: tablet) {
      padding-bottom: moduk-spacing(2);
    }
    border-bottom: 1px solid $moduk-footer-border;
  }

  .moduk-footer__navigation {
    @include moduk-clearfix;
    margin-right: -$moduk-gutter-half;
    margin-left: -$moduk-gutter-half;
  }

  .moduk-footer__section {
    display: inline-block;
    margin-bottom: $moduk-gutter;
    vertical-align: top;
  }

  .moduk-footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: $moduk-gutter; // Support: Columns

    // Disable thicker underlines on hover because of a bug in Chromium
    // affecting links within columns
    // https://bugs.chromium.org/p/chromium/issues/detail?id=1190987
    .moduk-footer__link:hover {
      text-decoration-thickness: auto;
    }
  }

  @include moduk-media-query ($from: desktop) {
    .moduk-footer__list--columns-2 {
      column-count: 2; // Support: Columns
    }

    .moduk-footer__list--columns-3 {
      column-count: 3; // Support: Columns
    }
  }

  .moduk-footer__list-item {
    @include moduk-responsive-margin(4, "bottom");
  }

  .moduk-footer__list-item:last-child {
    margin-bottom: 0;
  }
}
