// ==========================================================================
// SETTINGS / #COLOURS
// ==========================================================================

//
// MOD colour palette
//
// Colours are prefixed with color_ to make them easier to
// search for within the code base.
//
// We also prefix them with moduk- to prevent clashing with
// other colours in existing code bases.
//
// We use the word color, not colour, for variables.
//

/* stylelint-disable color-no-hex */

$color_moduk-maroon: #532A45;
$color_moduk-blue: #005eb8;
$color_moduk-white: #ffffff;
$color_moduk-black: #212b32;
$color_moduk-green: #007f3b;
$color_moduk-purple: #330072;
$color_moduk-dark-pink: #7C2855;
$color_moduk-red: #d5281b;
$color_moduk-yellow: #ffeb3b;

//
// Secondary colours
//

$color_moduk-pale-yellow: #fff9c4;
$color_moduk-warm-yellow: #ffb81C;
$color_moduk-orange: #ED8B00;
$color_moduk-aqua-green: #00A499;
$color_moduk-pink: #AE2573;

//
// Greyscale
//

$color_moduk-grey-1: #4c6272;
$color_moduk-grey-2: #768692;
$color_moduk-grey-3: #aeb7bd;
$color_moduk-grey-4: #d8dde0;
$color_moduk-grey-5: #f0f4f5;

/* stylelint-enable color-no-hex */
//
// RGB and alpha values
//
// Used to create drop/box shadows e.g. for search suggestions dropdown
//

$color_moduk-grey-1-rgb: rgb(66, 84, 98);
$alpha-transparency-50: .5;

//
// Functions for tint and shade
//
// Usage: tint(color, percentage)
//        tint($color_moduk-black, 10%)
//        shade(color, percentage)
//        shade($color_moduk-maroon, 50%)
//

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//
// Primary colour variations
//
// 1. used for link :active states
// 2. used for .is-active state on main navigation
// 3. used for :hover states on main navigation
// 4. used for :active states on main navigation
// 5. used for primary button and action link icon :hover states
// 6. used for primary button and action link icon :active states
//

$color_tint_moduk-black-10: tint($color_moduk-black, 10%); // [1] //

$color_shade_moduk-blue-20: shade($color_moduk-maroon, 20%); // [2] //
$color_shade_moduk-blue-35: shade($color_moduk-maroon, 35%); // [3] //
$color_shade_moduk-blue-50: shade($color_moduk-maroon, 50%); // [4] //

$color_shade_moduk-green-35: shade($color_moduk-green, 35%); // [5] //
$color_shade_moduk-green-50: shade($color_moduk-green, 50%); // [6] //

$color_transparent_moduk-white-20: rgba($color_moduk-white, .2);
$color_transparent_moduk-blue-50: rgba($color_shade_moduk-blue-50, .1);

//
// Colour aliases
//

// Text
$moduk-text-color: $color_moduk-black;
$moduk-secondary-text-color: $color_moduk-grey-1;
$moduk-print-text-color: $color_moduk-black;

// Links
$moduk-link-color: $color_moduk-maroon;
$moduk-link-hover-color: $color_moduk-dark-pink;
$moduk-link-active-color: shade($moduk-link-color, 50%);
$moduk-link-visited-color: $color_moduk-purple;

// Focus
$moduk-focus-color: $color_moduk-yellow;
$moduk-focus-text-color: $color_moduk-black;

// Border
$moduk-border-color: $color_moduk-grey-4;
$moduk-secondary-border-color: $color_transparent_moduk-white-20;

// Box shadow
$moduk-box-shadow: rgba(33, 43, 50, .16);
$moduk-box-shadow-color: $color_moduk-grey-1-rgb;

//
// Forms
//

$moduk-error-color: $color_moduk-red;
$moduk-form-border-color: $color_moduk-grey-1;
$moduk-form-element-background-color: $color_moduk-white;

//
// Buttons
//

$moduk-button-color: $color_moduk-green;
$moduk-button-hover-color: shade($moduk-button-color, 20%);
$moduk-button-active-color: shade($moduk-button-color, 50%);
$moduk-button-shadow-color: shade($moduk-button-color, 50%);

$moduk-secondary-button-color: $color_moduk-grey-1;
$moduk-secondary-button-hover-color: shade($moduk-secondary-button-color, 20%);
$moduk-secondary-button-active-color: shade($moduk-secondary-button-color, 50%);
$moduk-secondary-button-shadow-color: shade($moduk-secondary-button-color, 50%);

$moduk-reverse-button-color: $color_moduk-white;
$moduk-reverse-button-hover-color: shade($moduk-reverse-button-color, 20%);
$moduk-reverse-button-active-color: $color-moduk-black;
$moduk-reverse-button-shadow-color: $color-moduk-black;

$moduk-button-text-color: $color_moduk-white;
$moduk-reverse-button-text-color: $color_moduk-black;
