// ==========================================================================
// TOOLS / #LINKS
// ==========================================================================

//
// Default link styling
//
// Usage: @include moduk-link-style-default;
//

@mixin moduk-link-style-default {

  color: $moduk-link-color;

  &:visited {
    color: $moduk-link-visited-color;
  }

  &:hover {
    color: $moduk-link-hover-color;
    text-decoration: none;
  }

  &:focus {
    @include moduk-focused-text();

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $moduk-focus-text-color;
    }

    .moduk-icon {
      fill: $moduk-focus-text-color;
    }
  }

  &:active {
    color: $moduk-link-active-color;
  }

}

//
// White link styling, used in the footer.
//
// Usage: @include moduk-link-style-white;
//

@mixin moduk-link-style-white {

  color: $color_moduk-white;

  &:visited {
    color: $color_moduk-white;
  }

  &:hover {
    color: $color_moduk-white;
    text-decoration: none;
  }

  &:focus {
    color: $moduk-focus-text-color;
    outline: $moduk-focus-width solid transparent;
    outline-offset: $moduk-focus-width;
    text-decoration: none;
  }

  &:active {
    color: $moduk-link-active-color;
  }

}

//
// Default link hover only styling
//
// Usage: @include moduk-link-style-hover;
//

@mixin moduk-link-style-hover {
  &:hover {
    text-decoration: none;
  }
}

/// No visited state link mixin
///
/// Used in cases where it is not helpful to distinguish between visited and
/// non-visited links.
///
/// For example, navigation links to pages with dynamic content like admin
/// dashboards. The content on the page is changing all the time, so the fact
/// that you’ve visited it before is not important.
///
/// If you use this mixin in a component you must also include the
/// moduk-link-style-default mixin in order to get the focus state.
///
/// @example scss
///   .moduk-component__link {
///     @include moduk-link-style-default;
///     @include moduk-link-style-no-visited-state;
///   }
///

@mixin moduk-link-style-no-visited-state {
  &:link {
    color: $moduk-link-color;
  }

  &:visited {
    color: $moduk-link-color;
  }

  &:hover {
    color: $moduk-link-hover-color;
  }

  &:active {
    color: $moduk-link-active-color;
  }

  &:focus {
    color: $moduk-focus-text-color;
  }
}
