/* ==========================================================================
   STYLES / #ICONS
   ========================================================================== */

// Default icon size

.moduk-icon {
  height: $moduk-icon-size;
  width: $moduk-icon-size;
}

// Default icon colours

.moduk-icon__search {
  fill: $color_moduk-maroon;
}

.moduk-icon__chevron-left {
  fill: $color_moduk-maroon;
}

.moduk-icon__chevron-right {
  fill: $color_moduk-maroon;
}

.moduk-icon__close {
  fill: $color_moduk-maroon;
}

.moduk-icon__cross {
  fill: $color_moduk-red;
}

.moduk-icon__tick {
  stroke: $color_moduk-green;
}

.moduk-icon__arrow-right {
  fill: $color_moduk-maroon;
}

.moduk-icon__arrow-left {
  fill: $color_moduk-maroon;
}

.moduk-icon__arrow-right-circle {
  fill: $color_moduk-green;
}

.moduk-icon__chevron-down {
  fill: $color_moduk-maroon;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  path {
    fill: $color_moduk-white;
  }
}

.moduk-icon__chevron-up {
  fill: $color_moduk-maroon;
  path {
    fill: $color_moduk-white;
  }
}

.moduk-icon__emdash {
  path {
    fill: $color_moduk-grey-3;
  }
}

.moduk-icon__plus {
  fill: $color_moduk-maroon;
}

.moduk-icon__minus {
  fill: $color_moduk-maroon;
}

// Icon size adjustments

.moduk-icon--size-25 {
  height: $moduk-icon-size * 1.25;
  width: $moduk-icon-size * 1.25;
}

.moduk-icon--size-50 {
  height: $moduk-icon-size * 1.5;
  width: $moduk-icon-size * 1.5;
}

.moduk-icon--size-75 {
  height: $moduk-icon-size * 1.75;
  width: $moduk-icon-size * 1.75;
}

.moduk-icon--size-100 {
  height: $moduk-icon-size * 2;
  width: $moduk-icon-size * 2;
}
