/* ==========================================================================
   STYLES / #TYPOGRAPHY
   ========================================================================== */

/* Headings */

// The % (silent class) allows code to be extended (@extend) to other elements
// without bloating the code.
//
// @example scss
//  .foo {
//   @extend %moduk-heading-xl;
//  }

%moduk-heading-xl {
  @include moduk-typography-responsive(48);

  display: block;
  font-weight: $moduk-font-bold;
  margin-top: 0;

  @include moduk-responsive-margin(7, 'bottom');
}

h1,
.moduk-heading-xl {
  @extend %moduk-heading-xl;
}

%moduk-heading-l {
  @include moduk-typography-responsive(32);

  display: block;
  font-weight: $moduk-font-bold;
  margin-top: 0;

  @include moduk-responsive-margin(4, 'bottom');
}

h2,
.moduk-heading-l {
  @extend %moduk-heading-l;
}

%moduk-heading-m {
  @include moduk-typography-responsive(24);

  display: block;
  font-weight: $moduk-font-bold;
  margin-top: 0;

  @include moduk-responsive-margin(4, 'bottom');
}

h3,
.moduk-heading-m {
  @extend %moduk-heading-m;
}

%moduk-heading-s {
  @include moduk-typography-responsive(22);

  display: block;
  font-weight: $moduk-font-bold;
  margin-top: 0;

  @include moduk-responsive-margin(4, 'bottom');
}

h4,
.moduk-heading-s {
  @extend %moduk-heading-s;
}

%moduk-heading-xs {
  @include moduk-typography-responsive(19);

  display: block;
  font-weight: $moduk-font-bold;
  margin-top: 0;

  @include moduk-responsive-margin(4, 'bottom');
}

h5,
.moduk-heading-xs {
  @extend %moduk-heading-xs;
}

%moduk-heading-xxs {
  @include moduk-typography-responsive(19);

  display: block;
  font-weight: $moduk-font-bold;
  margin-top: 0;

  @include moduk-responsive-margin(4, 'bottom');
}

h6,
.moduk-heading-xxs {
  @extend %moduk-heading-xxs;
}

/* Captions to be used inside headings */

.moduk-caption-xl {
  @include moduk-font(32);

  color: $moduk-secondary-text-color;
  display: block;
  margin-bottom: moduk-spacing(1);
}

.moduk-caption-l {
  @include moduk-font(24);

  color: $moduk-secondary-text-color;
  display: block;
  margin-bottom: moduk-spacing(1);
}

.moduk-caption-m {
  @include moduk-font(19);

  color: $moduk-secondary-text-color;
  display: block;
}

.moduk-caption--bottom {
  margin-bottom: moduk-spacing(0);
  margin-top: moduk-spacing(1);
}

/* Body (paragraphs) */

%moduk-body-l {
  @include moduk-typography-responsive(24);

  display: block;
  margin-top: 0;

  @include moduk-responsive-margin(5, 'bottom');
}

.moduk-body-l {
  @extend %moduk-body-l;
}

%moduk-body-m {
  @include moduk-typography-responsive(19);

  display: block;
  margin-top: 0;

  @include moduk-responsive-margin(4, 'bottom');
}

p,
.moduk-body-m {
  @extend %moduk-body-m;
  color: inherit;
}

%moduk-body-s {
  @include moduk-typography-responsive(16);

  display: block;
  margin-top: 0;

  @include moduk-responsive-margin(4, 'bottom');
}

.moduk-body-s {
  @extend %moduk-body-s;
}

address {
  @extend %moduk-body-m;

  font-style: normal;
}

/**
 * Lede text
 *
 * 1. Apply lede text styling to p and ul within the lede element
 * 2. Reduces the spacing between the page heading and the lede text
 */

.moduk-lede-text {
  @include moduk-font(24);
  @include moduk-responsive-margin(7, 'bottom');
  /* [1] */
  p,
  ul {
    @include moduk-font(24);
  }
}

.moduk-lede-text--small {
  @include moduk-font(19);
  @include moduk-responsive-margin(5, 'bottom');
}

/* [2] */
h1 + .moduk-lede-text,
h1 + .moduk-lede-text--small {
  margin-top: - moduk-spacing(2);
}

/**
 * Contextual adjustments
 *
 * Add top padding to headings that appear directly after paragraphs.
 *
 * 1. Removes the padding-top because of the lede-text's increased margin-bottom
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/moduk-frontend
 */

%moduk-body-l  + %moduk-heading-l {
  padding-top: moduk-spacing(1);

  @include mq($from: tablet) {
    padding-top: moduk-spacing(2);
  }
}

%moduk-body-m  + %moduk-heading-l,
%moduk-body-s  + %moduk-heading-l,
%moduk-list + %moduk-heading-l {
  @include moduk-responsive-padding(4, 'top');
}

%moduk-body-m + %moduk-heading-m,
%moduk-body-s + %moduk-heading-m,
%moduk-list + %moduk-heading-m,
%moduk-body-m + %moduk-heading-s,
%moduk-body-s + %moduk-heading-s,
%moduk-list + %moduk-heading-s {
  padding-top: moduk-spacing(1);

  @include mq($from: tablet) {
    padding-top: moduk-spacing(2);
  }
}

/* [1] */
.moduk-lede-text + %moduk-heading-l {
  padding-top: 0;
}

/* Font weight for <strong> and <b> */

strong,
b {
  font-weight: $moduk-font-bold;
}
