/* ==========================================================================
   COMPONENTS/ #SELECT
   ========================================================================== */

.moduk-select {
  @include moduk-font(19);

  border: $moduk-border-width-form-element solid $moduk-form-border-color;
  box-sizing: border-box;
  height: 40px;
  max-width: 100%;
  padding: moduk-spacing(1);

  &:focus {
    @include moduk-focused-input;
  }
}

.moduk-select option:active,
.moduk-select option:checked,
.moduk-select:focus::-ms-value {
  background-color: $color_moduk-maroon;
  color: $color_moduk-white;
}

.moduk-select--error {
  border: $moduk-border-width-form-element-error solid $moduk-error-color;
}
