@import "../../../../src/moduk/base";
$moduk-new-link-styles: true;
@import "../../../../src/moduk/core/all";

.app-header--campaign {
  padding-bottom: moduk-spacing(2);
  border-bottom: $moduk-border-width-wide solid #fff500;
}

.app-header--campaign .moduk-header__container {
  border-bottom: none;
}

.app-covid-banner-top {
  padding-bottom: moduk-spacing(4);
  background-color: moduk-colour("black");
}

.app-covid-banner-top .moduk-heading-xl {
  padding-top: moduk-spacing(2);
  color: moduk-colour("white");
}

.app-covid-banner-bottom {
  margin-bottom: moduk-spacing(6);
  padding: moduk-spacing(3) 0 moduk-spacing(1);
  background-color: #272828;
}

.app-covid-banner-bottom .moduk-body,
.app-covid-banner-bottom .moduk-heading-m {
  color: moduk-colour("white");
}

.app-covid-banner-top .moduk-breadcrumbs__link {
  @include moduk-link-style-inverse;
}

.app-cta-link {
  @include moduk-font($size: 19, $weight: bold);
}

.app-section {
  padding: moduk-spacing(3) 0;
  border-top: 2px solid moduk-colour("black");
}

.app-updates {
  margin-bottom: moduk-spacing(8);
  padding: moduk-spacing(4) moduk-spacing(4) moduk-spacing(2);
  border: 1px solid $moduk-border-colour;
  background-color: moduk-colour("light-grey");
}

.app-nhs-box {
  margin-bottom: moduk-spacing(4);
  padding: moduk-spacing(4);
  border: $moduk-border-width solid moduk-colour("black");
}

.app-danger-box {
  padding: moduk-spacing(6) moduk-spacing(5);
  border-left: solid #fff500;
  border-width: 0 0 0 10px;
  border-image: repeating-linear-gradient(25deg, transparent 0, #fff500 1px, #fff500 10px, transparent 11px, transparent 20px) 25;
  color: moduk-colour("white");
  background-color: #272828;
}

.app-danger-box .moduk-body,
.app-danger-box .moduk-heading-m {
  color: moduk-colour("white");
}
