/* ==========================================================================
   COMPONENTS / #IMAGES
   ========================================================================== */

/**
 * 1. Overrides default browser margin values.
 * 2. Makes the image width two thirds of its container for desktop.
 * 3. Avoid image printing full width of a page.
 * 4. Removes top margin from subsequent moduk-image.
 */

.moduk-image {
  background-color: $color_moduk-white;
  border-bottom: 1px solid $color_moduk-grey-4;

  margin-left: 0; /* [1] */
  margin-right: 0; /* [1] */

  @include moduk-responsive-margin(6, 'bottom');
  @include moduk-responsive-margin(6, 'top');

  @include mq($from: desktop) {
    width: 66.66667%; /* [2] */
  }

  @include mq($media-type: print) {
    width: 50%; /* [3] */
  }

  & + .moduk-image {
    @include moduk-responsive-margin(0, 'top'); /* [4] */
  }

}

.moduk-image__img {
  display: block;
  width: 100%;
}

.moduk-image__caption {
  @include moduk-typography-responsive(16);

  padding: moduk-spacing(3);
}
