/* ==========================================================================
   COMPONENTS / #FOOTER
   ========================================================================== */

.moduk-footer {
  @include clearfix();
  @include print-hide();
  @include moduk-responsive-padding(5, bottom);
  @include moduk-responsive-padding(5, top);

  background-color: $color_moduk-grey-4;
  border-top: moduk-spacing(1) solid $color_moduk-maroon;
}

.moduk-footer__list {
  @include moduk-responsive-padding(4, bottom);

  list-style-type: none;
  margin: 0;
  padding-left: moduk-spacing(0);

  @include mq($from: desktop) {
    float: left;
    padding-bottom: 0;
    width: 75%;
  }
}

.moduk-footer__list-item {
  @include moduk-font(16);

  @include mq($from: desktop) {
    float: left;
    margin-right: moduk-spacing(5);
  }
}

.moduk-footer__list-item-link {
  color: $moduk-secondary-text-color;

  &:visited {
    color: $moduk-secondary-text-color;
  }

  &:hover {
    color: $moduk-text-color;
  }
}

.moduk-footer__copyright {
  @include moduk-font(16);

  color: $moduk-secondary-text-color;
  margin-bottom: 0;

  @include mq($from: desktop) {
    float: right;
    text-align: right;
    width: 25%;
  }
}
