@include moduk-exports("moduk/core/section-break") {

  %moduk-section-break {
    margin: 0;
    border: 0;
  }

  .moduk-section-break {
    @extend %moduk-section-break;
  }

  // Sizes

  %moduk-section-break--xl {
    @include moduk-responsive-margin(8, "top");
    @include moduk-responsive-margin(8, "bottom");
  }

  .moduk-section-break--xl {
    @extend %moduk-section-break--xl;
  }

  %moduk-section-break--l {
    @include moduk-responsive-margin(6, "top");
    @include moduk-responsive-margin(6, "bottom");
  }

  .moduk-section-break--l {
    @extend %moduk-section-break--l;
  }

  %moduk-section-break--m {
    @include moduk-responsive-margin(4, "top");
    @include moduk-responsive-margin(4, "bottom");
  }

  .moduk-section-break--m {
    @extend %moduk-section-break--m;
  }

  // Visible variant

  %moduk-section-break--visible {
    border-bottom: 1px solid $moduk-border-colour;
  }

  .moduk-section-break--visible {
    @extend %moduk-section-break--visible;
  }
}
